<template name="onboarding">
    <div class="ui container" style="max-width: 600px">
        <div class="ui message">
            <div class="header">
                <i class="clock icon"></i>
                Limited in time
            </div>
            <p>Your @{{activeUsernameSteem}} username is reserved on DTube chain only until approximately DD/MM/YYYY. Claim it before that date or else we cannot guarantee the availability of your username anymore.</p>
        </div>
        <h2 class="ui header">Claim DTube chain account from your STEEM account!</h2>
        <p>First save your private key in a safe place. This will be the highest security key for your account! Never lose it or you will lose your account forever!</p>            
        {{>keypair}}
        <p>Finally, you will need to publish your public key in your steem profile, and your new account will be created by @dtube under a few minutes. You will also receive a bit of voting power to start playing.</p>
        <div id="onboarding" class="ui fluid labeled small button" tabindex="0">
            <button name="button" class="ui fluid red right labeled dtube icon {{#unless newPubKey}}disabled{{/unless}} button">
                <i class="user plus icon red" style="background:white;opacity:1;"></i>
                <div style="display:inline-block;padding: 0.8em 1em;">Claim @{{activeUsernameSteem}}</div>
            </button>
        </div>
    </div>
</template>