<template name="wiki">
    <div class="ui container">
        <div class="ui breadcrumb">
            <a class="section" href="/wiki/README">Wiki</a>
            {{#if folder}}
                <div class="divider"> / </div>
                <div class="section"><a href="/wiki/{{folder}}/README">{{folder}}</a></div>
            {{/if}}
            <div class="divider"> / </div>
            <div class="active section">{{page}}</div>
        </div>
        <a href="{{editLink}}" target="_blank" title="{{translate 'WIKI_EDIT_GITHUB'}}">
            <i class="edit icon"></i>
        </a>

        {{{ markdown }}}
    </div>
</template>