<template name='upload'>
  <div id="videouploadsteps" class="ui uploadpage" style="width: 100%;max-width:800px;margin: auto;">
    <div class="ui segment brd-rad-non" style="margin:20px 0px;padding:30px;">
      <div class="ui indicating progress" id='progressvideo' style='display:none'>
        <div class="bar"></div>
        <div class="label">{{ translate 'UPLOAD_UPLOADING_VIDEO'}}</div>
      </div>
      <div class="ui indicating progress" id='progresssnap' style='display:none'>
        <div class="bar"></div>
        <div class="label">{{ translate 'UPLOAD_UPLOADING_SNAP'}}</div>
      </div>
      {{> uploadvideoprogress}}
      <br />
      <center>
        <div id="dropzone" class="dropzone">
          <div>{{ translate 'UPLOAD_UPLOAD_FILE'}}</div>
        </div>
        <input type="file" name="fileToUpload" id="fileToUpload" style='display: none'>
        <div id="previewzone">
          <div class="ui grid">
            <div class="one column row">
              <div class="column">
                <video id="videopreview" class="dsp-non wid-ful" controls autoplay style="height: 100%;"></video>
                <canvas id="snappreview" class="dsp-non" style='display: none'></canvas>
              </div>
            </div>
          </div>
          {{#if isOnMobile}}
            <div class="ui centered grid" style="text-align:right;margin-top:20px;">
                <a class='ui icon right labeled dtube grey button' id='snap' download='snap.jpg' style="margin:1rem!important;width: 100%;">
                  <div style="display:inline-block;padding: 0.8em 1em;">
                    {{ translate 'UPLOAD_TAKE_SNAP'}}
                  </div>
                  <i class="photo icon black" style="background: white;opacity: 1;"></i>
                </a>
                <label for="snapFile" style="width: 100%;">
                  <a class='ui red fluid dtube icon right labeled button' id='uploadSnap'> 
                    <div style="display:inline-block;padding: 0.8em 1em;">
                      {{ translate 'UPLOAD_UPLOAD_SNAP'}}
                    </div>
                    <i class="cloud upload icon red" style="background: white;opacity: 1;"></i>
                  </a>
                </label>
                <input type="file" id="snapFile">
            </div>
          {{else}}
            <div style="text-align:right;margin-top:20px;">
                <a class='ui icon right labeled dtube grey button' id='snap' download='snap.jpg' style="margin-right: 10px!important;margin-bottom: 10px;">
                  <div style="display:inline-block;padding: 0.8em 1em;">
                    {{ translate 'UPLOAD_TAKE_SNAP'}}
                  </div>
                  <i class="photo icon black" style="background: white;opacity: 1;"></i>
                </a>
                <label for="snapFile">
                  <a class='ui red dtube icon right labeled button' id='uploadSnap'>
                    <div style="display:inline-block;padding: 0.8em 1em;">
                      {{ translate 'UPLOAD_UPLOAD_SNAP'}}
                    </div>
                    <i class="cloud upload icon red" style="background: white;opacity: 1;"></i>
                  </a>
                </label>
                <input type="file" id="snapFile">
            </div>
          {{/if}}
        </div>
      </center>
      {{> uploadform}}
      <div class="ui section divider"></div>
      {{#if isOnMobile}}
        <button class="ui fluid right labeled icon button advanced dtube grey" type="button" style="width: 100%;margin-bottom: 10px;">
          <div style="display:inline-block;padding: 0.8em 1em;">
              {{ translate 'UPLOAD_ADVANCED'}} 
          </div>
          <i class="down arrow icon black" style="background: white;opacity: 1;"></i>
        </button>
        {{> uploadformsubmit}}
        <div class="ui slider nsfw checkbox">
          <input type="checkbox" name="newsletter">
          <label style="color:black;">{{ translate 'UPLOAD_NFWS_CONTENT' }}</label>
        </div>
      {{else}}
        <div style="text-align:left; margin-top:20px;">
          <div class="ui slider nsfw checkbox" style="padding-top:10px;">
            <input type="checkbox" name="newsletter">
            <label style="color:black;">{{ translate 'UPLOAD_NFWS_CONTENT' }}</label>
          </div>
          <div style="display:inline-block; float:right;">
            {{> uploadformsubmit}}
          </div>
        </div>
      {{/if}}
      
    </div>
  </div>
</template>