<template name="upload">
  <div id="videouploadsteps" class="ui uploadpage" style="width: 100%;max-width:800px;margin: auto;">
    <div class="ui segment brd-rad-non" style="margin:20px 0px;padding:30px;">
      <div class="ui indicating progress" id="progressvideo" style="display:none">
        <div class="bar"></div>
        <div class="label">{{ translate 'UPLOAD_UPLOADING_VIDEO'}}</div>
      </div>
      <div class="ui indicating progress" id="progresssnap" style="display:none">
        <div class="bar"></div>
        <div class="label">{{ translate 'UPLOAD_UPLOADING_SNAP'}}</div>
      </div>
      {{> uploadvideoprogress}}
      <form class="ui form">
        <div class="field">
          <input id="remotelink" type="text" name="title" placeholder="Video Link (YouTube, Vimeo, Dailymotion, LiveLeak, Facebook, Instagram, Twitch)" value="">
        </div>
        {{#if searchedLink}}
          <div class="preview">
            {{#if tempContent}}
              <div class="ui grid segment">
                <div class="eight wide column">
                    <img width="100%" src='{{tempContent.thumbnailUrl}}' />
                </div>
                <div class="eight wide column">
                    <input id="contentTitle" type="text" value="{{tempContent.title}}" placeholder="Video's Title"/>
                    <textarea rows="6" id="contentDescription" placeholder="Video's Description">{{tempContent.description}}</textarea>
                    <input id="contentTag" type="text" value="" placeholder="Video's Tag"/>
                    <h5>Source: {{tempContent.providerName}}</h5>
                </div>
              </div>
            {{else}}
              <div class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
              </div>
            {{/if}}
          </div>
          {{#if activeUsername}}
            <div class="ui red icon message">
              <i class="fire icon"></i>
              <div class="content">
                <div class="header">
                  PROMOTE YOUR VIDEO BY BURNING DTC
                </div>
                <div class="ui red range" id="burn-range"></div>
              </div>
            </div>
          {{/if}}
          <button class="ui fluid red right labeled dtube icon button uploadsubmit" type="button" style="margin-bottom:10px;">
            <div style="display:inline-block;padding: 0.8em 1em;">
                {{#if publishBurn}}
                  PUBLISH VIDEO AND BURN {{publishBurn}} DTC
                {{else}}
                  PUBLISH VIDEO
                {{/if}}
            </div>
            {{#if publishBurn}}
              <i class="fire icon red" style="background: white;opacity: 1;"></i>
            {{else}}
              <i class="checkmark icon red" style="background: white;opacity: 1;"></i>
            {{/if}}
          </button>
        {{/if}}
      </form>
    </div>
  </div>
</template>
