<template name='history'>
  {{activeSidebar}} {{#if isOnMobile}}
  <div class="ui infinite grid" style="margin: 10px 0px">
    <h2 class="mb-2">{{ translate 'HOME_TITLE_WATCH_AGAIN'}}</h2>
    {{> verticalvideoband watchAgain}}
    <div class="ui large centered inline text loader"></div>
  </div>
  {{else}}
  <div class="ui infinite container">
    <h2 class="mb-2">{{ translate 'HOME_TITLE_WATCH_AGAIN'}}</h2>
    {{> videoband watchAgain}}
    <div class="ui large centered inline text loader"></div>
  </div>
  {{/if}}
</template>
