/* .videoslider
{
  margin-right: 4px;
} */

.videosnap {
  display: inline-block;
  /* margin-bottom: 8px; */
  vertical-align:top;
  /* max-width: 210px; */
  color: #212121;
}

.videosnap:hover {
  display: inline-block;
  /* margin-bottom: 8px; */
  vertical-align:top;
  /* max-width: 210px; */
  color: #212121;
}


.videosnap:hover  .watchlater {
  display: block!important;
}

.videosnap:hover  .addwatchlater {
  display: block!important;
}

.verticalvideosnap {
  /* margin-right: 4px; */
  display: inline-block;
  /* width: 210px; */
  margin-bottom: 8px;
  vertical-align:top;
  color: #212121;
}

.videosnapauthor {
  font-size: 0.9rem;
  color: grey;
  text-decoration-color: grey;
  text-align: left;
  padding-left: 2px;
}

.videosnaprest {
  font-size: 0.9rem;
  float: left;
  clear: none; 
  color: #0A1627;
  text-decoration-color: #0066FF;
  margin-right: 5px;
}

.videosnapmore {
    font-size: 0.9rem;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    color: #0A1627;
    text-decoration-color: #0066FF;
  }

.videosnapduration{
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
  background-color: rgba(34, 36, 38, 0.75);
  margin-right: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  z-index: 99;
}

.videosnaptime {
  color: grey;
  -webkit-text-decoration-color: grey;
  text-decoration-color: grey;
  margin-right: 5px;
  font-size: 0.9em;
  float: right;
  margin-left: 5px;
}

.videosnaptitle {
  color: black;
  display: block;
  overflow: hidden;
  font-weight: 600;
  white-space: normal;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  line-height: 1.25em;
  max-height: 2.4em;
  padding: 0px 2px;
}

.verticalvideosnaptitle {
  color: black;
  display: block;
  overflow: hidden;
  font-weight: 600;
  white-space: normal;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  line-height: 1.3em;
  max-height: 3.8em;
}

.videosnapsnap {
  position: relative;
  max-height:118px;
  margin-bottom: 5px;
}


.verticalvideosnapsnap {
  position: relative;
  height:90px;
  margin-bottom: 5px;
}

.videosnapdetails{
  padding-left: 2px;
  bottom: 10px;
  display: inline-flex;
}

#img
{
 object-fit: cover;  
}

.videosnapsnap .remove {
  position: absolute;
  top: 6px;
  right: 2px;
  z-index: 100;
  background-color: #FFF;
  padding: 5px 4px 5px;
  color: #000;
  cursor: pointer;
  opacity: .2;
  text-align: center;
  font-size: 22px;
  line-height: 10px;
  border-radius: 50%;
}

.videosnapsnap .remove:hover {
  opacity: 1;
}

.reblogged {
  color: red;
}

.title
{
text-align: center;
}

.showmore
{
    margin-top: 10px;
    text-align: left; 
}

.menuitem
{
  text-align: left;
  color: black;
}

.activemenu
{
  text-align: left;
  color: red;
  background: rgb(240, 240, 240);
}

.ui.left.visible.sidebar, .ui.right.visible.sidebar {
  -webkit-box-shadow: 0px 0px 0px rgba(34, 36, 38, 0.15);
}

.suscriberlist
{
  max-height: 30%;
  overflow-x: auto;
}

body.pushable {
  background: #fafafa !important;
}

input[type="text"] {
  width: 100%;
}

.subcommentsclosed{
  height: 0px;
  overflow: hidden; 
}

/* .ui.input input {
  margin: 0em;
  width: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1em;
  font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 0.48571429em 1em;
  background: #ffffff;
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  -webkit-transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease;
  transition: box-shadow 0.1s ease, border-color 0.1s ease, -webkit-box-shadow 0.1s ease;
  -webkit-box-shadow: none;
  box-shadow: none;
} */

