.videosnap
{
  display: inline-block;
  /* margin-bottom: 8px; */
  vertical-align:top;
  /* max-width: 210px; */
  color: #212121;
}

.videosnap:hover  .watchlater
{
  display: block!important;
}

.videosnap:hover  .addwatchlater
{
  display: block!important;
}

.videosnap:hover  .videosnapduration
{
  display: block!important;
}

.verticalvideosnap
{
  /* margin-right: 4px; */
  display: inline-block;
  /* width: 210px; */
  margin-bottom: 8px;
  vertical-align:top;
  color: #212121;
}

.verticalvideosnap:hover .videosnapdescription {
  color: black;
}

.videosnapauthor
{
  font-size: 0.9rem;
  color: grey;
  text-decoration-color: grey;
  text-align: left;
}

.videosnaprest
{
  font-size: 0.9rem;
  float: left;
  clear: none;
  color: #0A1627;
  text-decoration-color: #0066FF;
  margin-right: 5px;
}

.videosnapmore
{
    font-size: 0.9rem;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;
    color: #0A1627;
    text-decoration-color: #0066FF;
  }

.videosnapduration
{
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: rgb(226, 226, 226);
  background-color: rgba(34, 36, 38, 0.75);
  margin-right: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  z-index: 99;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 17px;
}


.videoscore
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: rgb(226, 226, 226);
  background-color: rgba(34, 36, 38, 0.75);
  margin-left: 0px;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  z-index: 99;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 20px;
}

.videopower
{
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: rgb(226, 226, 226);
  background-color: rgba(34, 36, 38, 0.75);
  margin-right: 0px;
  margin-bottom: 4px;
  padding-left: 4px;
  font-size: 12px;
  z-index: 99;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 17px;
}

.livestreamviewcount
{
  position: absolute;
  bottom: 0px;
  left: 5px;
  color: rgb(226, 226, 226);
  background-color: rgba(34, 36, 38, 0.75);
  margin-right: 4px;
  margin-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  z-index: 99;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 17px;
}

.videosnaptime
{
  color: rgba(20, 20, 20, 0.6);
  -webkit-text-decoration-color: grey;
  text-decoration-color: grey;
  font-size: 0.9em;
}


.videosnapdescription
{
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.40em;
  -webkit-line-clamp: 2;
  margin: 0 auto;
  height: 36px;
  color: darkgrey;
}

.videosnapdescriptionmobile
{
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.30em;
  -webkit-line-clamp: 2;
  margin: 0 auto;
  height: 32px;
}



.videosnaptitle
{
  color: black;
  display: block;
  overflow: hidden;
  font-weight: 500;
  white-space: normal;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  line-height: 1.30em;
  max-height: 2.6em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.verticalvideosnaptitle
{
  color: black;
  display: block;
  overflow: hidden;
  font-weight: 600;
  white-space: normal;
  text-align: left;
  width: 100%;
  display: -webkit-box;
  line-height: 1.3em;
  max-height: 3.8em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.videosnapsnap {
  position: relative;
  max-height:118px;
  margin-bottom: 5px;
}

.verticalvideosnapsnap {
  position: relative;
  height:90px;
  margin-bottom: 5px;
}

.videosnapdetails{
  display: block;
}

#img
{
 object-fit: cover;
}

.reblogged {
  color: #F01A30;
}

.title
{
  text-align: center;
}


.ui.menu
{
  border: none;
}
.ui.menu .item > i.icon
{
  color: rgb(80, 80, 80);
}
.ui.menu.nightmode .item > i.icon
{
  color: white;
}
.ui.menu .item.loginitem
{
  cursor: default !important;
  background-color: transparent;
}
.ui.menu .item.loginitem:hover
{
  background-color: transparent;
}

.menuitem
{
  text-align: left;
  color: rgb(80, 80, 80);
}

.activemenu
{
  text-align: left;
  color: #F01A30;
}

.activemenu .dtubesidebartitle
{
  color:black;
}

.activemenu.nightmodetext
{
  color: #F01A30 !important;
}

.ui.left.visible.sidebar, .ui.right.visible.sidebar {
  -webkit-box-shadow: 0px 0px 0px rgba(34, 36, 38, 0.15);
}

.subscriberslist
{
  max-height: 300px;
  overflow-x: auto;
  padding-left: 20px;
}

.channelsubscriberslist
{
  max-height: 600px;
  overflow-x: auto;
}

.channelfollowerslist
{
  max-height: 600px;
  overflow-x: auto;
}

.ui.fluid.label{
  word-wrap: break-word;
}

body.pushable
{
  background: #FFFFFF !important;
}

body.pushable.nightmode
{
  background: #111111 !important;
}

input[type="text"]
{
  width: 100%;
}

.subcommentsclosed
{
  height: 0px;
  overflow: hidden;
}

.seekTo
{
  cursor: pointer;
}
