/* CSS declarations go here */
.padding-side {
  padding-left: 20px;
  padding-right: 20px;
}

#textlogo {
  font-size: 22px;
  color: red;
}

.input.inputLarge {
  width: 400px;
}

.inputLarge > input {
  max-height: 36px;
}

.article {
  margin-left: 3em !important;
  margin-right: 3em !important;
  padding: 3em 0em;
  margin-top: 50px;
}

.icon .menuIcon {
  font-size: 1.5em;
  margin: 0;
}

.upvoteComment {
  transition: font 5s ease-in
}

.upvoteComment > i {
  transition: font 0s ease-in
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
