.padding-side {
  padding-left: 20px;
  padding-right: 20px;
}

#textlogo {
  font-size: 22px;
  color: red;
}

#textlogomobile {
  font-size: 1.2em;
  color: red;
}

.scaledropdown
{
  transform: scale(0.5);
}

.input.inputLarge {
  width: 400px;
}

.inputLarge > input {
  max-height: 36px;
}

.article {
  padding: 52px 0em 3em 0em;
  display: -webkit-inline-box;
  width: 100%;
}

.icon .menuIcon {
  font-size: 1.5em;
  margin: 0;
}
 
.upvoteComment {
  transition: font 5s ease-in
}

.upvoteComment > i {
  transition: font 0s ease-in
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.icon .dtubesidebaricon
{
padding: 15px 20px 30px 20px;
font-size: 18px;
}

.menuitem .dtubesidebarmenu
{
  font-size: 14px;
  font-weight: 600;
  padding: none;
}

.dtubesidebarmenu:hover
{
color:red;
background: rgb(233, 233, 233);
}

.dtubesidebartitle
{
  padding-right: 30px;
}

main
{
  max-width: 100%;
  margin:auto;
}

.mainsided
{
  max-width: 70%;
  margin-left: 320px;
}

.mainmobile
{
  width: 90%;
}

.notificationdtube
{
  background-color: rgb(48, 48, 48);
  border-radius: 60px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 12px;
}

.notificationdtubeactive
{
  background-color: rgb(255, 13, 13);
  border-radius: 60px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  padding-top: 4px;
  font-size: 12px;
}

.circular .icon
{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.circular .icon:hover
{
  background-color: rgb(248, 248, 248);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#snapimg {
  max-height: 140px;
  object-fit: cover;
}

li {
  height: 140px;
  min-width: 100px;
  display: block;
  float: left;
  list-style: none;
  margin: 0 5px 5px 0;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
}

li img,
#status {
  -webkit-transition: opacity 0.4s;
     -moz-transition: opacity 0.4s;
      -ms-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

li.is-loading {
  background-color: black;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/loading.gif');
}

li.is-broken {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/broken.png');
  background-color: #be3730;
  width: 120px;
}

li.is-loading img,
li.is-broken img {
  opacity: 0;
}

.buttons { margin-bottom: 1.0em; }

button {
  font-size: 18px;
  padding: 0.4em 0.8em;
  font-family: sans-serif;
}

#status {
  opacity: 0;
  position: fixed;
  right: 20px;
  top: 20px;
  background: hsla( 0, 0%, 0%, 0.8);
  padding: 20px;
  border-radius: 10px;
  z-index: 2; /* over other stuff */
}

.ui.form textarea:focus {
  outline: none !important;
  border:1px solid rgb(175, 175, 175);
  box-shadow: 0 0 2px rgb(180, 180, 180);
}

.customlink
{
  color:rgba(0, 0, 0, 0.87);
}

.customlink:active
{
  color:rgba(0, 0, 0, 0.87);
}

.customlink:link
{
  color:rgba(0, 0, 0, 0.87);
}

.customlink:visited
{
  color:rgba(32, 32, 32, 0.87);
}

.ddvright
{
  font-size: 15px;
  float: right;
  margin-left: 5px;
}

.lefter55
{
  left:-55px;
}

.boxdisplayer
{
  display:-webkit-box;
  width: 100%;
}


.videohmore
{
  font-size: 18px;
  float: right;
  margin-left: 5px;
}

.dropdownvideosettings
{
  margin-top: 5px; 
  padding: 7px;
}

.nosnap
{
  color:rgb(248, 248, 248);
}

.videodesktop
{
  width:78%;
  display:inline-block;
}

.videomobile
{
  width:100%;
  display:inline-block;
}

.image.channel{
  margin:20px;
  width:128px;
  height:128px;
  border: rgb(247, 247, 247);
  border-style: solid;
  border-width: 4px;
  border-radius: 100px;
}

.ui.content{
  margin-top:30px;
}

.ui.segment.closed
{
  max-height:8.9em;
}

.ui.segments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 1rem 0em;
  border: 0px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0;
}