.slidecontainer {
    width: 100%;
}

.hslider {
    --thumbNumber: "5";
    -webkit-appearance: none;
    appearance: none;
    min-width: 200px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.hslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.hslider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.hsliderbackholder.yellow {
    top: -2px;
    width: 100%;
    border: 10px solid white;
    position: absolute;
    height: 30px!important;
    border-radius: 18px;
    pointer-events: none;
    background-color: #fbbd08 !important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    background-repeat: round;
    -webkit-animation: move 3s linear infinite;
    animation: move 3s linear infinite;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
    background-position: bottom;
}

.hsliderbackholder.red {
    top: -2px;
    width: 100%;
    border: 10px solid white;
    position: absolute;
    height: 30px!important;
    border-radius: 18px;
    pointer-events: none;
    background-color: #fb0808 !important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    background-repeat: round;
    -webkit-animation: move 3s linear infinite;
    animation: move 3s linear infinite;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
    background-position: bottom;
}

.hsliderholder {
    right: 3px;
    top: calc(50% - 7px);
    position: absolute;
    width: 100%;
    height: 12px!important;
    border: 1px solid rgb(95, 95, 95);
    background: white;
    border-radius: 12px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
}

.bubblehsliderholder {
    top: calc(50% - 17.5px);
    position: absolute;
    width: 30px!important;
    height: 30px!important;
    background: #3b5998;
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
}

.vsliderbackholder.yellow {
    left: calc(50% - 7px);
    top: -3px;
    height: 216px;
    border: 14px solid white;
    position: absolute;
    min-width: 40px!important;
    width: 40px!important;
    border-radius: 18px;
    pointer-events: none;
    background-color: #fbbd08 !important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    background-repeat: round;
    -webkit-animation: move 3s linear infinite;
    animation: move 3s linear infinite;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
    background-position: bottom;
}

.vsliderbackholder.red {
    left: calc(50% - 20px);
    top: -3px;
    height: 210px;
    border: 14px solid white;
    position: absolute;
    min-width: 40px!important;
    width: 40px!important;
    border-radius: 18px;
    pointer-events: none;
    background-color: #fb0808 !important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .25) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, .25) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    background-repeat: round;
    -webkit-animation: move 3s linear infinite;
    animation: move 3s linear infinite;
    overflow: hidden;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
    background-position: bottom;
}

.nightmode .vsliderbackholder.red,
.nightmode .vsliderbackholder.yellow {
    border: 14px solid rgb(40,40,40);
}

.hsliderbackholder.invert {
    border-color: #111111!important;
}

.hsliderbackholder.comment-range {
    border-color: whitesmoke!important;
}

.hsliderbackholder.comment-range.invert {
    border-color: #1d1d1d!important;
}

.vsliderholder {
    left: calc(50% + 7px);
    top: 7px;
    position: absolute;
    min-width: 12px!important;
    width: 12px!important;
    border: 1px solid rgb(95, 95, 95);
    background: white;
    border-radius: 12px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -210px;
    }
}

.bubblevsliderholder {
    left: calc(50% - 2px);
    position: absolute;
    width: 30px!important;
    height: 30px!important;
    background: #3b5998;
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
}

.vslider.vertical {
    appearance: none;
    min-width: 200px!important;
    min-height: 10px;
    width: 200px!important;
    height: 50px;
    background: white;
    outline: none;
    opacity: 0.7;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    writing-mode: bt-lr;
    -webkit-appearance: none;
    appearance: none;
    -webkit-transform: rotate(-90deg) translate(-77px,-57px);
    transform: rotate(-90deg) translate(-77px,-57px);
}

.vslider.vertical.nightmode { background: rgb(40, 40, 40)!important; }

.vslider:hover {
    opacity: 1;
}

.vslider.vertical::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.vslider.vertical::-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

.vslider.vertical::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.slider-bubble {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.slider-bubble span {
    width: 38px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #F01A30;
    color: #fff;
    font-size: 8px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.vertical-slider-bubble {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.vertical-slider-bubble span {
    width: 36px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #F01A30;
    color: #fff;
    z-index: 99999;
    font-size: 10px;
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.votebutton.loader {
    border-style: solid;
    background: transparent none !important;
    border-width: 0px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0.78571429em 0 0.78571429em 0 !important;
    margin-right: 25px !important;
}

.mini.red.active.loader::after {
    border-color: #ff0000 transparent transparent;
}

.compact.vertical.voteslider {
    top: 40px;
    box-shadow: none;
    border: none;
}

.compact.vertical.voteslider .item {
    font-size: 10px;
    height: 50px;
    padding-top: 20px;
    border: none;
    background: transparent!important;
}

.vertical.popup {
    border: none;
    margin-bottom: -45px!important;
    box-shadow: 0px -10px 9px 0px rgba(34, 36, 38, 0.12), 0px 0px 0px 0px rgba(34, 36, 38, 0.15)!important;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 3%, rgb(255, 255, 255) 4%, rgb(255, 255, 255) 100%)!important;
}

.vertical.bottom.popup {
    margin-top: 0;
}

.vertical.popup.nightmode {
    background: linear-gradient(0deg, rgba(40, 40, 40, 0) 3%, rgb(40, 40, 40) 4%, rgb(40, 40, 40) 100%)!important;
}

.vertical.popup::before {
    display: none;
}

.verticalslider.button {
    background: transparent!important;
}

.verticalslider.button i {
    margin: 0px!important;
}