.slidecontainer {
    width: 100%;
}

.vslider {
    --thumbNumber: "5";
    -webkit-appearance: none;
    appearance: none;
    min-width: 200px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.vslider.vertical {
    appearance: none;
    min-width: 60px!important;
    min-height: 200px;
    width: 60px!important;
    height: 200px;
    background: transparent;
    outline: none;
    opacity: 0.7;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    appearance: slider-vertical;
}

.vsliderbackholder {
    left: calc(50% - 16px);
    top: -3px;
    height: calc(100% + 7px);
    border: 10px solid white;
    position: absolute;
    min-width: 32px!important;
    width: 32px!important;
    background: rgb(80, 80, 80);
    border-radius: 16px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
}

.vsliderholder {
    left: calc(50% - 5px);
    bottom: 7px;
    position: absolute;
    min-width: 10px!important;
    width: 10px!important;
    background: red;
    border-radius: 12px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
}

.bubblevsliderholder {
    left: calc(50% - 10px);
    position: absolute;
    width: 20px!important;
    height: 20px!important;
    background: #3b5998;
    border-radius: 50%;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
}

.vslider:hover {
    opacity: 1;
}

.vslider.vertical::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.vslider.vertical::-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.vslider.vertical::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.vslider.vertical::-ms-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    cursor: pointer;
    z-index: 9999;
}

.slider-bubble {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.slider-bubble span {
    width: 38px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #F01A30;
    color: #fff;
    font-size: 8px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.vertical-slider-bubble {
    position: absolute;
    z-index: 999;
    pointer-events: none;
}

.vertical-slider-bubble span {
    width: 36px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #F01A30;
    color: #fff;
    z-index: 99999;
    font-size: 10px;
    display: block;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.votebutton.loader {
    border-style: solid;
    background: transparent none !important;
    border-width: 0px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0.78571429em 0 0.78571429em 0 !important;
    margin-right: 25px !important;
}

.mini.red.active.loader::after {
    border-color: #ff0000 transparent transparent;
}

.compact.vertical.voteslider {
    top: 40px;
    box-shadow: none;
    border: none;
}

.compact.vertical.voteslider .item {
    font-size: 10px;
    height: 50px;
    padding-top: 20px;
    border: none;
    background: transparent!important;
}

.vertical.popup {
    border: none;
    bottom: -20px!important;
    box-shadow: 0px -10px 9px 0px rgba(34, 36, 38, 0.12), 0px 0px 0px 0px rgba(34, 36, 38, 0.15)!important;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 3%, rgb(255, 255, 255) 4%, rgb(255, 255, 255) 100%)!important;
    height: 320px;
}

.vertical.popup::before {
    display: none;
}

.verticalslider.button {
    background: transparent!important;
}

.verticalslider.button i {
    margin: 0px!important;
}

.ui.popup {
    overflow: auto;
}