.videoplayer {
  width: 100%;
  max-height: 516px;
}

.videopayout {
  line-height: 32px;
  max-height: 32px;
  text-align: right;
  font-size: 22px;
  white-space: nowrap;
  margin-bottom: 2px;
  margin-right: 10px;
}

.channelLink {
  vertical-align: top;
  font-size: 13px;
  margin-top: -4px;
  margin-bottom: 4px;
}

.channelLink > a {
  color: rgb(51, 51, 51);
  font-weight: 700;
}

.channelLink > a:hover, a:focus {
  text-decoration: underline;
}

.author.owner
{
  background: red;
  color: white!important;
  border-radius: 4px;
  font-weight: 600;
  vertical-align: top;
  padding: 3px 10px;
}

.ui.mini.image {
  width: 48px !important;
  height: auto;
}

.ui.threaded.comments .comment .comments {
  margin: -1.5em 0 -1em 4em;
  padding: 0px; 
  -webkit-box-shadow: 0px 0px 0px rgba(34, 36, 38, 0.15); 
   box-shadow: 0px 0px 0px rgba(34, 36, 38, 0.15); 
}

.shareli
{
  width: 48px !important;
  height: auto;
  min-width: 0px;
}

.votebutton
{
  border-style: solid;
  background: transparent none !important;   
  margin-right: 0px;
  border-width: 0px 0px 0px 0px; 
  border-radius:0px; 
  box-shadow:none;
  -webkit-box-shadow: none;
  border-color: rgba(34, 36, 38, 0.15);
}

.videocontainer{
  width:100%;float:left;
  margin-bottom: 10px;
  
}

.videosegment{
  padding: 0px !important;
  border-width: 0 !important;
  overflow: hidden; background: #f9f9f9;
}

.videotitlecontainer{
  float:left;
  vertical-align:top; 
  margin-top: 0px; 
  margin-bottom: 10px;
}

.videotitle{
  font-size:21px; 
  font-weight:500;
}

.videoleftdetails{
  width:65%;position:relative;
  display: inline-block;vertical-align: top;
}

.videorightdetails{
  position:relative;float:right;
  vertical-align: top;
}

.videovotecontainer{
  bottom: 0px;
  vertical-align: bottom;
  font-size:20px;float:right;
  right: 0px;
}

.videoshowmore
{
  margin-right: 0px!important;  
  border-style: solid!important;
  background: transparent!important;
  border-width: 0px 0px 0px 0px!important; 
  border-radius:0px!important; 
  box-shadow:none!important;
  -webkit-box-shadow: none!important;
  border-color: rgba(34, 36, 38, 0.15)!important;
}

.dtube.red.button
{
  margin-right: 0px!important;  
  border-style: solid!important;
  border-width: 1px!important; 
  border-radius:0px!important; 
  box-shadow:none!important;
  -webkit-box-shadow: none!important;
  background:#ff1a1a!important;
  border-color: rgba(34, 36, 38, 0.15)!important;
}

.dtube.white.button
{
  margin-right: 0px!important;  
  border-style: solid!important;
  border-width: 1px!important; 
  color: rgba(0, 0, 0, 0.87);
  border-radius:0px!important; 
  box-shadow:none!important;
  -webkit-box-shadow: none!important;
  background:#ffffff!important;
  border-color: rgba(34, 36, 38, 0.15)!important;
}

.dtube.grey.button
{
  margin-right: 0px!important;  
  border-style: solid!important;
  border-width: 1px!important; 
  color: rgba(0, 0, 0, 0.87);
  border-radius:0px!important; 
  box-shadow:none!important;
  -webkit-box-shadow: none!important;
  background:#ebebeb!important;
  border-color: rgba(34, 36, 38, 0.15)!important;
}

.dtube.grey.button:hover
{
  margin-right: 0px!important;  
  border-style: solid!important;
  border-width: 1px!important; 
  color: rgba(22, 22, 22, 0.87);
  border-radius:0px!important; 
  box-shadow:none!important;
  -webkit-box-shadow: none!important;
  background:#dbdbdb!important;
  border-color: rgba(34, 36, 38, 0.15)!important;
}


.dtube.blue.button
{
  margin-right: 0px!important;  
  border-style: solid!important;
  border-width: 1px!important; 
  border-radius:0px!important; 
  box-shadow:none!important;
  -webkit-box-shadow: none!important;
  background:#2185d0!important;
  border-color: rgba(34, 36, 38, 0.15)!important;
}


.videorecommendedcomputer{
  width: 40%;
  padding-left:20px!important;
  display: inline-block!important;
  margin-top:0px!important;
}

.videorecommendedtablet{
  float: left;
  text-align: left;
  width:100%;
  margin-top:10px;
}

.videorecommendedmobile{
  text-align: left;
  width:100%;
  margin:5px!important;
}

.ui.content{
  margin-top: 15px;
}

.ui.segment.closed
{
  max-height:10em;
}

.ui.segments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 1rem 0em;
  border: 0px solid rgba(34, 36, 38, 0.15);
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0;
}

.ui.comments .comment .actions{
  margin: 0.25em 0em 0.5em 5em;
}


.truncate {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.hidden{
    display:none;
}

  .ui.fixed.sticky + p {
    margin-top: 39px;
  }

  .ui.channel.closed{
    height: 0px!important;
  }