/* CSS declarations go here */
.searchlarge {
  width: 100%;
  max-width: 560px;
  display: flex;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.searchlarge > .input {
  width: 100%
}

.searchlarge .prompt {
  border-radius: 0rem;
}
