<template name='video'>
  {{#with video}}
  <div class="videocontainer">
    <!-- Player on page -->
    {{> player}}
    <div class="ui segments" style="display:flow-root;padding: 0px;margin: 0px;">
      <!-- Title, Vote - Share - More  -->
      <div class="ui segment" style="padding-right: 0px !important;padding-bottom: 0px !important;">
        <div class="ui grid info" style="display: grid;">
          <div class="videotitlecontainer">
            <h1 class="videotitle">{{info.title}}</h1>
          </div>
            <div id='videosnaptags' class='videosnaptags' style="padding-bottom: 20px;bottom: 0px;position: absolute;">
            {{#each content.tags}}
            <a href="/t/{{this}}" class="ui tiny label">{{this}}</a>
            {{/each}}
            </div> 
          <div class="ui videovotecontainer right floated">
             {{> videosettingsdropdown}}
            <div style="float: right;" class="button icon bottom aligned ">
              {{#if hasUpvoted video}}
              <button class="ui icon button upvote votebutton">
                <i class="thumbs up icon red"></i>
                {{upvotes active_votes}}
              </button>
              {{else}}
              <button class="ui icon button upvote votebutton">
                <i class="thumbs up icon"></i>
                <span>{{upvotes active_votes}}</span>
              </button>
              {{/if}} {{#if hasDownvoted video}}
              <button class="ui icon button downvote votebutton">
                <i class="thumbs down icon red"></i>
              {{downvotes active_votes}}
              </button>
              {{else}}
              <button class="ui icon button downvote votebutton">
                <i class="thumbs down icon"></i>
                <span>{{downvotes active_votes}}</span>
              </button>
              {{/if}}
              <script>
                $('.upvote').popup({
                  boundary: '.videocontainer',
                  popup: '.popupupvotes'
                })
              </script>
              <div class="ui popup popupupvotes">
                <div class="header">Upvoted By</div>
                {{#each this.active_votes}}
                <a  class="ui tiny label">{{voter}}</a>
                {{/each}}
              </div>
              <div class="ui popup popupdownvotes">
                <div class="header">Downvoted By</div>
                <div class="ui star rating" data-rating="3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Author Info (image and name) - Suscribe - Edit - Payout   -->
      <div class="ui segment" style="padding:0px!important;">
        <div class="details" style="width:100%;">
          <div class="videoleftdetails" style="width:100%;padding: 10px;">
            <img class="ui left mini circular avatar floated image" src="{{userPic info.author}}" style="margin-top:10px;">
            <div class="channelLink" style="margin-top:10px;">
              <a href="/c/{{info.author}}">
                {{info.author}}
              </a>
            </div>
            {{#unless equals activeUser user.name}}
            {{#if isLoggedOn}}
             {{#if isSubscribedTo info.author}}
            <div class="ui labeled mini button" tabindex="0">
              <div class="ui mini  button left  unsubscribe dtube grey" style="padding-left:10px;padding-right:10px;">
                  {{ translate 'VIDEO_UNSUBSCRIBE'}}
              </div>
              <a class="ui basic label videoshowmore" style="border-width:1px!important;">
                {{{subCount info.author}}}
              </a>
            </div>
            {{else}}
            <div class="ui labeled mini button" tabindex="0">
              <div class="ui red  mini left dtube button subscribe">
               {{ translate 'VIDEO_SUBSCRIBE'}}
              </div>
              <a class="ui basic label videoshowmore" style="border-width:1px!important;">
                {{{subCount info.author}}}
              </a>
            </div>
            {{/if}}
            {{else}}
            <div class="ui labeled mini button" tabindex="0">
              <div class="ui red mini button dtube ">
                {{ translate 'VIDEO_SUBSCRIBERS'}}
              </div>
              <a class="ui basic label videoshowmore" style="border-width:1px!important;">
                {{{subCount info.author}}}
              </a>
            </div>
            {{/if}}
            {{else}}
              <div class="ui blue mini dtube button editvideo dtube">
                <i class="edit icon"></i> {{ translate 'VIDEO_EDIT'}}
              </div>
            {{/unless}}
            <div class="videorightdetails">
              <div class='videopayout'>
                {{displayPayout pending_payout_value total_payout_value curator_payout_value}}
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>

      <div id='editvideosegment' class="ui segment" style="display: none">
        {{> uploadform}}
      </div>
      <!-- Syntaxed video description - Show More -->
      <div id="descriptionsegment" class="ui segment closed descriptionsegment" style="overflow: hidden;width:100%;">
        <div class="truncate" style="overflow: hidden;">
          <strong title='{{timeAgo created}}'>{{ translate 'VIDEO_ADDED_ON'}} {{timeDisplay created}}</strong>
          <br/> {{{syntaxed content.description}}}
        </div>
      </div>
      {{#if hasMoreThan4Lines}}
      <div class="ui segment description" style="text-align: center; padding:0px;margin:0px;">
        <div id="showmore" style="text-align: center;">
          <button class="ui button videoshowmore">
            {{ translate 'VIDEO_DESCRIPTION_SHOW_MORE'}}
          </button>
          <i class="ui icon angle down"></i>
        </div>
        <div id="showless" class="hidden" style="text-align: center;">
          <button class="ui button videoshowmore" >
            {{ translate 'VIDEO_DESCRIPTION_SHOW_LESS'}}
          </button>
          <i class="ui icon angle up"></i>
        </div>
      </div>
      {{/if}}
      <!-- Comments - Reply -->
      <div class="ui secondary segment" style="background: #f5f5f5;">
        <h3 class="ui header"> {{comments.length}} {{ translate 'VIDEO_COMMENTS'}}</h3>
        {{#if isLoggedOn}} {{#if equals comments.length 0}}
        <div style=" text-align: center;padding:10px;">
          <h4>{{ translate 'VIDEO_BE_THE_FIRST_TO_COMMENT'}}</h4>
        </div>
        {{/if}}
        <div style="width:100%;display:flex;">
          <div style="text-align:left;float:left;">
            <img class="ui avatar mini image" src="https://img.busy.org/@{{activeUser}}">
            <div class="ui author" style="margin-top:5px;margin-right:10px;font-weight: 600;">{{activeUser}}</div>
          </div>
          <form class="ui reply form" style="width:100%;">
            <div class="field" style="width:100%;position:relative;display: inline-block;
                          vertical-align: top;">
              <textarea rows="3"></textarea>
            </div>
            <div class="ui right labeled submit icon button white dtube" style="position:relative;float:right;
                          vertical-align: top;">
              <i class="ui right icon talk"></i>{{ translate 'VIDEO_ADD_COMMENT'}}
              <!-- {{ translate 'GLOBAL_REPLY_TO'}} @{{info.author}} -->
            </div>
          </form>
        </div>
        {{else}}
        <div style=" text-align: center;padding:10px;">
          <a href="/login">
            <h5>{{ translate 'VIDEO_YOU_NEED_TO_LOGIN_TO_COMMENT'}}</h5>
          </a>
        </div>
        {{/if}} {{> comments}}
      </div>
    </div>
  </div>
  <!-- Recommended videos  -->
  {{#if userVideosAndResteems}}
  <div class="ui grid computer only videorecommendedcomputer" >
    <h3>{{ translate 'VIDEO_RECOMMENDED_BY'}} {{info.author}}</h3>
    {{#if userVideosAndResteems}} {{> videoband userVideosAndResteems}} {{/if}}
  </div>
  <div class="ui container grid tablet only content videorecommendedtablet">
    <h3>{{ translate 'VIDEO_RECOMMENDED_BY'}} {{info.author}}</h3>
    {{> verticalvideoband userVideosAndResteems}}
  </div>
  <div class="ui grid mobile only content videorecommendedmobile">
    <h3>{{ translate 'VIDEO_RECOMMENDED_BY'}} {{info.author}}</h3>
    {{> verticalvideoband userVideosAndResteems}}
  </div>
  {{/if}} {{/with}}
</template>