<template name='video'>
  {{#with video}}
  <div class="ui videocontainer stackable two column grid computergrid">
    <!-- Player on page -->
    <div class="videocol eleven wide column" style="padding:0px!important;z-index: 999;">
      {{#if equals json.type 'article'}}
      <h1 style="margin-block-end: 0.2em;">{{json.title}}</h1>
      <h4 style="margin-block-start: 0em;">by <a href="/c/{{video.author}}">{{video.author}}</a> • {{timeDisplay ts}}</h4>
      {{{markdown}}}
      {{else}}
      {{#if json.title}}
      {{> player}}
      {{/if}}
      {{/if}}
      <div class="ui segments" style="display:flow-root;padding: 0px;margin: 0px;">
        <!-- Title, Vote - Share - More  -->
        <div class="ui segment {{#if isNightMode}}nightmode{{/if}}" style="padding-right: 0px !important;padding-bottom: 0px !important;">
          <div class="ui info" style="display: inline-grid;width: 100%;">
            {{#if and json.title (not (equals json.type 'article'))}}
            <div class="videotitlecontainer">
              <h1 class="videotitle">{{json.title}}</h1>
            </div>
            {{/if}}
            <div style="display:inline-block;">
              <div id='videosnaptags' class='videosnaptags pos-rel' style="bottom: 5px;float:left;max-width: 48%;">
                {{#each tags}}
                {{#unless equals t 'dtube'}}
                <a href="/t/{{t}}" class="ui small label">
                  {{convertTag t}}
                </a>
                {{/unless}}
                {{/each}}
              </div>
              <div class="ui videovotecontainer right floated" style="bottom: 0px;height: 38px;">
                {{> videosettingsdropdown video}}
                {{> videosharedropdown video}}
                {{#if hasVoted (hasDownvoted video) (hasUpvoted video)}}
                <div style="float: right; text-align: center;" class="button icon bottom aligned">
                  <button class="ui icon button votebutton {{#if isNightMode}}nightmodetext{{/if}}" data-tooltip="Already voted">
                    {{#if (hasUpvoted video)}}
                    <i class="thumbs up icon red"></i>
                    {{else}}
                    <i class="thumbs up icon"></i>
                    {{/if}}
                    <span>{{uniques video.votes video.votesSteem video.votesHive video.votesBlurt 'up'}}</span>
                  </button>
                  <button class="ui icon button votebutton {{#if isNightMode}}nightmodetext{{/if}}" data-tooltip="Already voted">
                    {{#if (hasDownvoted video)}}
                    <i class="thumbs down icon red"></i>
                    {{else}}
                    <i class="thumbs down icon"></i>
                    {{/if}}
                    <span>{{uniques video.votes video.votesSteem video.votesHive video.votesBlurt 'down'}}</span>
                  </button>
                </div>
                {{else}}
                {{#if votable (dtubeVotable this) (steemVotable this) (hiveVotable this) (blurtVotable this)}}
                {{> verticalvoteslider color="yellow" network=(contentNetwork video false) sliderclass=video.link content=video isComment=false voteType="up" downvoted=(hasDownvoted video) upvoted=(hasUpvoted video) }}
                {{> verticalvoteslider color="yellow" network=(contentNetwork video false) sliderclass=video.link content=video isComment=false voteType="down" downvoted=(hasDownvoted video) upvoted=(hasUpvoted video) }}
                {{else}}
                <button class="ui icon button votebutton"
                  data-tooltip="Please login with {{contentNetwork this true}} account">
                  <i class="thumbs up icon"></i> {{uniques this.votes this.votesSteem this.votesHive this.votesBlurt 'up'}}</button>
                <button class="ui icon button votebutton"
                  data-tooltip="Please login with {{contentNetwork this true}} account">
                  <i class="thumbs down icon"></i> {{uniques this.votes this.votesSteem this.votesHive this.votesBlurt 'down'}}</button>
                {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <!-- Author Info (image and name) - Suscribe - Edit - Payout   -->
        <div class="ui segment {{#if isNightMode}}nightmode{{/if}}" style="padding:0px!important;">
          <div class="details wid-ful">
            <div class="videoleftdetails wid-ful" style="padding: 10px;z-index: 1;">
              <div class="videorightdetails">
                <div class='topvotersdiv'>
                  {{> topupvoters}}
                </div>
                <a href="/v/{{video.author}}/{{video.link}}/votes" class='videopayout'>
                  {{#if scot}}
                  {{displayScot distScot scot}}
                  {{else}}
                  {{displayRewards dist distSteem distScot distHive distBlurt}}
                  {{/if}}
                </a>
                  {{> popupvoter}}
                <svg class="sparkline {{#if isNightMode}}nightmode{{/if}}" width="200" height="60" stroke-width="2" style="display:none"></svg>
              </div>
              {{#if body}}
              <div class="ui left tiny circular avatar floated image"
                style="margin-top: 4px; background-size: cover;min-width:64px; width:64px; height: 64px; background-image:url({{userPicSteem video.author ''}})">
              </div>
              {{else}}
              <div class="ui left tiny circular avatar floated image"
                style="margin-top: 4px; background-size: cover;min-width:64px; width:64px; height: 64px; background-image:url({{userPic video.author ''}})">
              </div>
              {{/if}}
              <div class="channelLink" style="margin-top:10px;">
                <a href="/c/{{video.author}}">
                  {{video.author}}
                </a>
              </div>
              {{#unless equals activeUser user.name}}
              {{#if activeUsername}}
              {{#if isSubscribedTo video.author}}
              {{>buttonunsubscribe}}
              {{else}}
              {{>buttonsubscribe}}
              {{/if}}
              {{else}}
              <a href="/login/dtube">
                {{>buttonsubscribe}}
              </a>
              {{/if}}
              {{else}}
              {{>buttonedit}}
              {{/unless}}
              <span class='donateButton' style='margin-left: 10px'>
                {{>buttontransfersmall}}
              </span>
            </div>
          </div>
        </div>
        <div id='editvideosegment' class="ui segment {{#if isNightMode}}nightmode{{/if}}" style="display: none">
          {{#if isIPFSOrBTFSUpload}}
          {{> uploadfileform}}
          {{else}}
          {{> uploadform}}
          {{/if}}
          {{> uploadformsubmit}}
          {{#if json.files}}
          {{> uploadformfulledit}}
          {{/if}}
        </div>

        <!-- Syntaxed video description - Show More -->
        {{#if not (equals json.type 'article')}}
        <div id="descriptionsegment" class="ui segment closed descriptionsegment wid-ful {{#if isNightMode}}nightmode{{/if}}"
          style="display:grid;overflow: hidden;">
          <div class='allNetworks'>
            {{#each allNetworks}}
            {{#if equals this 'dtc'}}
            <img width="32" src="{{#if isNightMode}}./DTube_files/images/logos/dtube_white.png{{else}}./DTube_files/images/logos/dtube.png{{/if}}">
            {{/if}}
            {{#if equals this 'steem'}}
            <img width="32" src="./DTube_files/images/logos/steem.png">
            {{/if}}
            {{#if equals this 'hive'}}
            <img width="32" src="./DTube_files/images/logos/hive.png">
            {{/if}}
            {{#if equals this 'blurt'}}
            <img width="32" src="./DTube_files/images/logos/blurt.png">
            {{/if}}
            {{/each}}
          </div>
          <div id="truncateddesc" class="truncate" style="overflow: hidden;">
            <strong title='{{timeAgo ts}}'>
              {{ translate 'VIDEO_ADDED_ON'}} {{timeDisplay ts}}
            </strong>
            <br /> {{{syntaxed json.desc json.description}}}
          </div>
        </div>
        {{#if hasMoreThan4Lines}}
        <div class="ui segment description {{#if isNightMode}}nightmode{{/if}}" style="text-align: center; padding:0px;margin:0px;">
          <div id="showmore" style="text-align: center;">
            <button class="ui button videoshowmore">
              {{ translate 'VIDEO_DESCRIPTION_SHOW_MORE'}}
            </button>
            <i class="ui icon angle down"></i>
          </div>
          <div id="showless" class="hidden" style="text-align: center;">
            <button class="ui button videoshowmore">
              {{ translate 'VIDEO_DESCRIPTION_SHOW_LESS'}}
            </button>
            <i class="ui icon angle up"></i>
          </div>
        </div>
        {{/if}}
        {{/if}}

        <!-- Related Videos Mobile -->
        {{#if isOnMobile}}
        {{#if userVideosAndResteems}}
        <div class="ui grid mobile only content videorecommendedmobile">
          <center><iframe style='width:320px; height:100px; border:0px; padding:0; overflow:hidden; background-color: transparent;' src="./DTube_files/mobilead.html"></iframe></center>
          <h3>{{ translate 'VIDEO_RELATED_VIDEOS'}}</h3>
          {{> verticalvideoband userVideosAndResteems}}
        </div>
        {{/if}}
        {{/if}}
        <!-- Comments - Reply -->
        <div class="ui secondary segment {{#if isNightMode}}nightsegment nightmode nightmodegray{{/if}}" style="background: #f5f5f5;">
          <h3 class="ui header">
            {{#if isSingleComment}}
            {{mergedCommentsLength comments commentsSteem}} {{ translate 'COMMENT_REPLY'}}
            {{else}}
            {{mergedCommentsLength comments commentsSteem}} {{ translate 'COMMENT_REPLIES'}}
            {{/if}}
          </h3>
          {{#if isLoggedOn}} {{#if isNoComment}}
          <div style=" text-align: center;padding:10px;">
            <h4>{{ translate 'VIDEO_BE_THE_FIRST_TO_COMMENT'}}</h4>
          </div>
          {{/if}}
          {{#if isReplyingRoot}}
          <div class="wid-ful dsp-flx">
            <!-- <div style="text-align:left;float:left;">
                <div class="ui avatar mini image"
                  style="background-size:cover; margin-top:10px; min-width:48px; width:48px; height: 48px; background-image:url({{userPic activeUser 'small'}})">
                </div>
                <div class="ui author" style="margin-top:5px;margin-right:10px;font-weight: 600;">{{activeUser}}</div>
              </div> CANT HAVE THAT WITH 2 LOGGED IN USERS ? -->
            <form class="ui reply form wid-ful">
              <div class="field pos-rel wid-ful" style="display: inline-block;vertical-align: top;">
                <textarea id="replytext" class="{{#if isNightMode}}nightmode{{/if}}" rows="3"></textarea>
              </div>
              <div style="width: auto; min-width:460px;float: left;">
                <div class="ui filter checkbox comment" style="width: 100%;">
                  <input id="promotereply" type="checkbox" name="comment">
                  <label id="promorereplylbl">{{translate 'VIDEO_PROMOTE_COMMENT'}}  <strong id="promotedtc" style='display: none;color:#f01a30'> {{displayMoney commentBurn 0 'DTC'}}</strong></label>
                  <div id="promoteslider" style="display: none;margin-top: 15px;">
                    {{> horizontalslider color="red" sliderid="comment-range"}}
                  </div>
                </div>
              </div>

              <div class="ui blue right labeled icon submit button dtube pos-rel"
                style="float:right;vertical-align: top;">
                <i class="ui blue icon remove repl dsp-non" style="background:white;opacity:1;"></i>
                <i class="ui blue icon load repl dsp-non" style="background:white;opacity:1;">
                  <div class="ui active loader"></div>
                </i>
                <i class="ui blue right icon repl talk iconloader on" style="background:white;"></i>

                <div style="display:inline-block;padding: 0.8em 1em;">{{ translate 'VIDEO_ADD_COMMENT'}}</div>
              </div>
            </form>
          </div>
          {{/if}}
          {{else}}
          <div style=" text-align: center;padding:10px;">
            <a href="/login">
              <h5>{{ translate 'VIDEO_YOU_NEED_TO_LOGIN_TO_COMMENT'}}</h5>
            </a>
          </div>
          {{/if}}
          {{> comments}}
        </div>
      </div>
    </div>
    <!-- Related videos  -->
    {{#unless isOnMobile}}
    {{#if isTabletOrLower}}
    <div class="four wide column tablet only">
      <center><iframe style='width:330px; height:120px; border:0px; padding:0; overflow:hidden; background-color: transparent;' src="./DTube_files/mobilead.html"></iframe></center>
      <div class="ui grid videorecommendedtablet" style='margin-top:0px'>
        {{> verticalvideoband userVideosAndResteems}}
        <h3>{{ translate 'VIDEO_RELATED_VIDEOS'}}</h3>
        {{#if userVideosAndResteems}}
        {{> verticalvideoband userVideosAndResteems}}
        {{/if}}
      </div>
    </div>
    {{else}}
    <div class="pdg-5 relatedcol four wide column computer only">
      <div class="ui grid videorecommendedcomputer" style="margin-right: -5rem;">
        <center><iframe style='width:260px; height:270px; border:0px; padding:0; overflow:hidden; background-color: transparent;' src="./DTube_files/computerad.html"></iframe></center>
        <h3>{{ translate 'VIDEO_RELATED_VIDEOS'}}</h3>
        {{#if userVideosAndResteems}}
        {{> verticalvideoband userVideosAndResteems}}
        {{/if}}
      </div>
    </div>
    {{/if}}
    {{/unless}}
  </div>
  {{/with}}
</template>