<template name='watchlater'>
    {{activeSidebar}}
    {{#if isOnMobile}}
    <div class="ui infinite grid" style="margin: 10px 0px">
      <h2 class="mb-2">{{ translate 'HOME_TITLE_WATCH_LATER'}}</h2>
      {{> verticalvideoband watchLater}}
      <div class="ui large centered inline text loader"></div>
    </div>
    {{else}}
    <div class="ui infinite container">
      <h2 class="mb-2">{{ translate 'HOME_TITLE_WATCH_LATER'}}</h2>
      {{> videoband watchLater}}
      <div class="ui large centered inline text loader"></div>
    </div>
    {{/if}}
  </template>
