<template name='mobilevideosearchresult'>
  {{#unless isVideoHidden this}}
    <div class='verticalvideosnap' style="width:100%;display:flex;">
      <div style="width:160px;height:90px;float: left;position:relative;">
        <a href='/v/{{author}}/{{permlink}}' title='{{title}}'>
          <div class='verticalvideosnapsnap' style="height:90px;">
            <!-- {{#if duration}}
              <span class="videosnapduration">{{durationDisplay duration}}</span>
            {{/if}} -->
            <img id="snapimg" height="90" width="160" alt="" src="{{ipfsSrc meta.video.info.snaphash}}">
            <br />
          </div>
        </a>
      </div>
      <div style="position:relative;text-align:left;width:60%;margin-left: 8px;">
        <div class="boxdisplayer">
          <div class='verticalvideosnaptitle'>
            <a href='/v/{{author}}/{{permlink}}'>
              <span class="customtitlelink">{{title}}</span>
            </a>
          </div>
        </div>
        {{#if payout}}
        <div class='videosnapdetails'>
            <div class='videosnaprest'>
            ${{displayPayout payout}}
          </div>
        </div>
        {{/if}}
        <div class='videosnapauthor'>
          <a href='/c/{{author}}'>
            <span class="customlink">{{author}}</span>
          </a>
        </div>
        <div class='videosnapdetails'>
          <div class='videosnaptime' >
            {{timeAgo created}}
          </div>
        </div>
      </div>
    </div>
    <div class="ui divider"></div>
  {{/unless}}
</template>