<template name='mobilevideosearchresult'>
  {{#unless isVideoHidden this}}
    <div class='verticalvideosnap' style="width:100%;display:flex;">
      <div style="width:160px;height:90px;float: left;position:relative;">
        <a href='/v/{{author}}/{{permlink}}' title='{{title}}'>
          <div class='verticalvideosnapsnap' style="height:90px;width: 160px;">
              {{#if meta.video.info.duration}} 
              <span class="videosnapduration">{{durationDisplay meta.video.info.duration}}</span>
            {{/if}}
            <!-- {{#if duration}}
              <span class="videosnapduration">{{durationDisplay duration}}</span>
            {{/if}} -->
            <div id="snapload" class="ui active dimmer" style="z-index:-1;background-color: rgba(167, 167, 167, 0.85);width:160px;height:90px;position: absolute">
                <i class="icon photo nosnap" style="font-size:28px;margin-top:20px;"></i>
                <div class="ui text nosnap" style="margin-top:10px;">{{translate 'SNAP_MISSING_IMAGE'}}</div>
              </div> 
            <img id="snapimg" class="sprite" width="160" height="90" alt="" data-src="{{ipfsSrc meta.video.info.snaphash}}">
            <br />
          </div>
        </a>
      </div>
      <div style="position:relative;text-align:left;max-width:54%;margin-left: 8px;">
          <div class="boxdisplayer">
            <div class='verticalvideosnaptitle' style="max-height: 2.6em;">
              <a href='/v/{{author}}/{{permlink}}'>
                <span style="font-weight: 400;font-size: 16px;" class="customtitlelink">{{title}}</span>
              </a>
            </div>
          </div>
          <div class="boxdisplayer" style="padding-top:3px;">
            <div class='videosnapauthor' style="font-size: 0.8em;">
              <a href='/c/{{author}}'>
                <span class="customlink">{{author}}</span>
              </a>
            </div>
            {{#if payout}}
              <div class='videosnaprest' style="padding-left: 5px;float:none;margin-right: 0px;    font-size: 0.8em;">
                ${{displayPayout payout}}
              </div>
            {{/if}}
            {{#if created}}
          <div class="videosnaptime" style="padding-left: 5px;float:none;margin-right: 0px;    font-size: 0.8em;">
            {{timeAgo created}}
          </div>
          {{/if}}
          </div>
          <div class='videosnapdescriptionmobile' style="font-size: 0.9em;">
            {{meta.video.content.description}}
          </div>
        </div>
    </div>
    <div class="ui divider"></div>
  {{/unless}}
</template>