<template name='mobilevideosearchresult'>
  {{#unless isVideoHidden this}}
    <div class='verticalvideosnap wid-ful dsp-flx {{#if isVideoBlurred this}}blur{{/if}}'>
      <div class="pos-rel" style="width:160px;height:90px;float: left;">
        <a href='/v/{{author}}/{{link}}' title='{{json.title}}'>
          <div class='verticalvideosnapsnap' style="height:90px;width: 160px;">
            <span class="videoscore"><i class="bolt icon"></i>{{displayPayout ups downs}}</span>
            {{#if json.duration}} 
              <span class="videosnapduration">{{durationDisplay json.duration}}</span>
            {{else}}{{#if json.dur}}
              <span class="videosnapduration">{{durationDisplay json.dur}}</span>
            {{/if}}{{/if}}
            <div id="snapload" class="ui active dimmer pos-abs" style="z-index:-1;background-color: rgba(167, 167, 167, 0.85);width:160px;height:90px;">
                <i class="icon photo nosnap" style="font-size:28px;margin-top:20px;"></i>
                <div class="ui text nosnap" style="margin-top:10px;">{{translate 'SNAP_MISSING_IMAGE'}}</div>
              </div> 
            <img id="snapimg" class="sprite" width="160" height="105" style="object-fit: cover" alt="" src="{{json.thumbnailUrl}}" onerror="Template.videosnap.fallback(this)">
            <br />
          </div>
        </a>
      </div>
      <div class="pos-rel" style="text-align:left;max-width:54%;margin-left: 8px;">
          <div class="boxdisplayer">
            <div class='verticalvideosnaptitle' style="max-height: 2.6em;">
              <a href='/v/{{author}}/{{link}}'>
                <span style="font-weight: 400;font-size: 16px;" class="customtitlelink">{{json.title}}</span>
              </a>
            </div>
          </div>
          <div class='videosnapauthor' style="font-size: 0.8em;">
              <a href='/c/{{author}}'>
                <span class="customlink">{{author}}</span>
              </a>
            </div>
          <div class="boxdisplayer">
            {{#if ts}}
          <div class="videosnaptime" style="padding-left: 5px;float:none;margin-right: 0px;font-size: 0.8em;">
            {{timeAgo ts}}
          </div>
          {{/if}}
          </div>
        </div>
    </div>
    <div class="ui divider"></div>
  {{/unless}}
</template>