<template name="publish">
    <div class="ui container">
        <div class="ui bottom attached tab segment active" data-tab="first" style="margin:auto;padding-left: 1px;padding-right:1px;border-width: 0px;background: transparent;">
            <div id="infozone" style="text-align:left;">
                <h1>Publish video to blockchain</h1>
                
                <div class="ui grid">
                    <div class="six wide column">
                        <!-- video preview -->
                        {{> player tmpVideo}}
                    </div>

                    <div class="six wide column">
                        <form class="ui form uploadform">
                            <div class="field">
                                <label>{{ translate 'UPLOAD_TITLE'}}</label>
                                <input id="uploadTitle" type="text" name="title" placeholder="{{ translate 'UPLOAD_TITLE'}}" value="{{json.title}}">
                            </div>
                            <div class="field">
                                <label>{{ translate 'UPLOAD_DESCRIPTION'}}</label>
                                <textarea id="uploadDescription" rows="4" name='description'>{{json.description}}</textarea>
                            </div>

                            {{#unless tags}}
                                <div class="field">
                                <label>{{ translate 'UPLOAD_TAGS'}}</label>
                                <select id="tagDropdown" name="skills" class="ui fluid search dropdown">
                                    <option value=""></option>
                                    {{#each topTags}}
                                    <option value="{{tag}}">{{tag}}</option>
                                    {{/each}}
                                </select>
                                </div>
                            {{/unless}}
                            
                        </form>
                    </div>
                    
                    <div class="four wide column">
                        {{#if tmpVideo.json.thumbnailUrl}}
                            <img id="snapimg" height="90" width="160" alt="" data-src="{{tmpVideo.json.thumbnailUrl}}">
                            <br /><br />
                        {{/if}}
                        <div id="uploadthumbnail" class="ui right floated labeled small button" tabindex="0">
                            <button name="button" class="ui blue right labeled dtube icon button">
                                <i class="image icon blue" style="background:white;opacity:1;"></i>
                                <div style="display:inline-block;padding: 0.8em 1em;">Upload Thumbnail</div>
                            </button>
                        </div>

                        <br /><br /><div class="ui divider"></div>

                        <form class="ui form uploadform">
                            <div class="field">
                                <label>{{ translate 'UPLOAD_VISIBILITY'}} {{> badgenew}}</label>
                                <select id="tagDropdown" name="visibility" class="ui fluid search dropdown">
                                    <option value="public">{{ translate 'UPLOAD_VISIBILITY_PUBLIC'}}</option>
                                    <option value="unlisted">{{ translate 'UPLOAD_VISIBILITY_UNLISTED'}}</option>
                                </select>
                            </div>
                        </form>

                        <br /><br />
                        <div style="text-align: center;">
                            <div class="ui checked checkbox">
                                <input type="checkbox" name="nsfw">
                                <label>{{ translate 'UPLOAD_NFWS_CONTENT' }}</label>
                            </div>
                        </div>

                        <br /><br />
                        {{#if activeUsername}}
                            <div class="ui red icon message">
                            <i class="fire icon"></i>
                            <div class="content">
                                <div class="header">
                                PROMOTE YOUR VIDEO BY BURNING DTC
                                </div>
                                <div class="ui red range" id="burn-range"></div>
                            </div>
                            </div>
                        {{/if}}
                        <div id="publishVideo" class="ui right floated labeled button" tabindex="0">
                            <button name="button" class="ui red right labeled dtube icon button">
                                <i class="podcast icon red" style="background:white;opacity:1;"></i>
                                <div style="display:inline-block;padding: 0.8em 1em;">Publish Video</div>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="ui divider"></div>
                <h2>Advanced Options</h2>
                
            </div>
        </div>
    </div>
</template>