<template name="mobiletopbar">
    {{#if isSearchingMobile}}
        {{> mobilesearch}}
    {{else}}
        <div class="ui large borderless main menu fixed mobiletopbar">
            <div style="width: 100%;text-align: left;">
                {{#if scot}}
                    <div class="ui sidebartoggleicon item needsclick" style="cursor: pointer;float:left;padding-left:10px;padding-right:8px;height:100%;">
                      <img class="sidebar icon needsclick" alt="" style="width:45px;vertical-align: middle" src="https://about.d.tube/img/kit/Logo_Black_D.svg" >
                    </div>
                    <a href='/' class="blacklogo ui header tiny item mobilelogoheader" id='textlogo'>
                      <img  alt="" style="width:90px;" src="{{scot.logo}}" >
                    </a>
                    <a href='/' class="whitelogo ui header tiny item mobilelogoheader dsp-non" id='textlogo'>
                      <img  alt="" style="width:90px;" src="{{scot.logonight}}" >
                    </a>
                {{else}}
                    <div class="ui sidebartoggleicon item needsclick" style="cursor: pointer;float:left;padding-left:10px;padding-right:8px;">
                        <i class="sidebar icon" style="font-size:1.2em; margin:18px 0 0 0;"></i>
                    </div>
                    {{#if isLargeEnoughForLogo}}
                    <a href='/' class="blacklogo ui header tiny item mobilelogoheader" id='textlogo'>
                        <img  alt="" style="width:90px;" src="{{settings.logo}}" >
                    </a>
                    <a href='/' class="whitelogo ui header tiny item mobilelogoheader dsp-non" id='textlogo'>
                        <img  alt="" style="width:90px;" src="{{settings.logonight}}" >
                    </a>
                    {{else}}{{#if isLargeEnoughForMiniLogo}}
                    <a href='/' class="blacklogo ui header tiny item mobilelogoheader" id='textlogo'>
                        <img  alt="" style="width:32px;" src="{{settings.logosmall}}" >
                    </a>
                    <a href='/' class="whitelogo ui header tiny item mobilelogoheader dsp-non" id='textlogo'>
                        <img  alt="" style="width:32px;" src="{{settings.logosmallnight}}" >
                    </a>
                    {{/if}}{{/if}}
                {{/if}}
                <!-- <div class="ui sidebartoggleicon item" style="cursor: pointer;float:left;padding-left:10px;padding-right:8px;">
                    <i class="sidebar icon" style="font-size:1.2em; margin:18px 0 0 0;"></i>
                </div>
                    <a href='/' class="blacklogo ui header tiny item mobilelogoheader" id='textlogo' style="padding: 6px !important;margin-right: 0px;">
                        <img style="width:90px;" src="{{settings.logo}}">
                    </a>
                    <a href='/' class="whitelogo ui header tiny item mobilelogoheader dsp-non" id='textlogo' style="padding: 6px !important;margin-right: 0px;">
                        <img  alt="" style="width:90px;" src="{{settings.logonight}}" >
                    </a> -->
                <div class="ui right aligned noshadow grid small menu" style="float:right;margin-top: 5px;">
                    <div id="mobilesearchbis" class="ui item" style="float:right;padding: 0.828571em">
                        <i class="search icon" style='font-size:1.4em; margin:1px 0 0 0;'></i>
                    </div>
                    {{#if isLoggedOn}}
                        {{> notificationdropdown}}
                    {{/if}}
                    <a class="ui item" style="float:right;">
                        <a href="/login" class="circular ui icon youtube button">
                            <i class="user icon" style='margin:0; padding:0px;'></i>
                        </a>
                    </a>
                </div>
            </div>
        </div>
    {{/if}}
</template>
