<template name="topbar">
  <div class="ui large borderless main menu fixed" style="height:57px;z-index:9000;">
    <div class="left floated menu" style="width:60%">
      <div class="sidebartoggleicon item header" style="cursor: pointer;">
        <i class="sidebar icon" style="font-size:1.5em; margin:0;"></i>
      </div>
      <a href='/' class="header item" id='textlogo'>
        <!-- <i id="animdtube" class="dtube icon" style="margin-left:0px;margin-right: 5px;"> -->
          <img  alt="" style="width:90px;" src="/DTube_files/images/dtubelogo.png" >
        <!-- </i>Tube -->
      </a>
      <div class="ui item grid tablet only computer only" style="width:inherit;">
        <div class="ui search" style="width:100%">
          <div class="ui icon input" style="width:100%">
            <form class='searchForm' style="width:100%">
              <input id='dsearch' type="text" name='search' placeholder="{{ translate 'TOPBAR_PLACEHOLDER_SEARCH_VIDEOS'}}" autocomplete="off">
            </form>
            <i class="search icon"></i>
          </div>
          <div class="results">
            {{#each searchSuggestions}} 
            <a class="result">
              <div class="content">
                <div class="title">{{this}}</div>
              </div>
            </a>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="right floated menu">
      <a id="mobilesearch" class="ui item grid mobile only" style="margin:0px;padding: 0.92857143em 1.14285714em;">
        <i class="search icon" style='font-size:1.5em; margin:0;padding:0;'></i>
      </a>
      {{#if isLoggedOn}}
      <a href='/upload' class="ui item" title='{{ translate "TOPBAR_TOOLTIP_UPLOAD_VIDEO"}}'>
        <i class="cloud upload icon" style='font-size:1.5em; margin:0;'></i>
      </a>
      {{else}}
      <a class="ui item" href='/login' title='{{ translate "TOPBAR_TOOLTIP_UPLOAD_VIDEO"}}'>
        <i class="cloud upload icon" style='font-size:1.5em; margin:0;'></i>
      </a>
      {{/if}} 
      {{> notificationdropdown}} 
      {{> settingsdropdown}} 
      {{#if isLoggedOn}} 
      {{> users}} 
      {{else}}
      <a class="ui item">
        <a href="/login" class="ui labeled mini button">
          <div class="ui labeled mini button" tabindex="0">
              <div class="ui red  mini left dtube button subscribe">
                  {{ translate "TOPBAR_LOGIN"}}
              </div>
              <a class="ui basic label videoshowmore" style="border-width:1px!important;">
                  <i class="sign in icon"></i>
              </a>
            </div>
           </a>
      </a>
      {{/if}}
    </div>
  </div>
</template>