<template name="publish">
    <div class="ui container">
        <div class="ui bottom attached tab segment active" data-tab="first" style="max-width:1080px;margin:auto;padding-left: 1px;padding-right:1px;border-width: 0px;background: transparent;">
            <div id="infozone" style="text-align:left;">
                <h1>Publish video to blockchain</h1>
                
                <div class="ui grid">
                    <div class="nine wide column">
                        <p>
                            {{#if hasThumbnail}}
                                Your video is ready to be published. <strong>Publishing a video on a blockchain is an irreversible process</strong>. You will never be able to completely delete your video. However, you will always be able to hide it from d.tube UI by setting the visibility option to Unlisted.
                            {{else}}
                                Your video is almost ready! You need to <strong>Add Thumbnail</strong>.
                                This image will be used to display your video in d.tube listings: search results, rankings, and channel pages.
                                Recommended size for your thumbnail is 640x360 (16:9)
                            {{/if}}

                            <br /><br />You can add more video mirrors by clicking on <strong>Add Video</strong>. This is a good option if you are afraid of your video getting deleted on 3rd party providers.
                            
                            {{#if hasDecentralizedVideo}}
                                <br /><br />Optionally, you can add subtitles (VTT format) to your video with the <strong>Add Subtitle</strong> button.
                            {{/if}}
                        </p>
                    </div>
                    <div class="seven wide column">
                        <!-- video preview -->
                        {{> player tmpVideo}}
                    </div>
                    <div class="nine wide column">
                        <form class="ui form uploadform">
                            <div class="field">
                                <label>{{ translate 'UPLOAD_TITLE'}}</label>
                                <input id="uploadTitle" type="text" name="title" placeholder="{{ translate 'UPLOAD_TITLE'}}" value="{{json.title}}">
                            </div>
                            <div class="field">
                                <label>{{ translate 'UPLOAD_DESCRIPTION'}}</label>
                                <textarea id="uploadDescription" rows="4" name='description'>{{json.description}}</textarea>
                            </div>

                            {{#unless tags}}
                                <div class="field">
                                <label>{{ translate 'UPLOAD_TAGS'}}</label>
                                <select id="tagDropdown" name="skills" class="ui fluid search dropdown">
                                    <option value=""></option>
                                    {{#each topTags}}
                                    <option value="{{tag}}">{{tag}}</option>
                                    {{/each}}
                                </select>
                                </div>
                            {{/unless}}
                            
                        </form>
                    </div>
                    
                    <div class="seven wide column">
                        <form class="ui form uploadform">
                            <div class="field">
                                <label>{{ translate 'UPLOAD_VISIBILITY'}} {{> badgenew}}</label>
                                <select id="tagDropdown" name="visibility" class="ui fluid search dropdown">
                                    <option value="public">{{ translate 'UPLOAD_VISIBILITY_PUBLIC'}}</option>
                                    <option value="unlisted">{{ translate 'UPLOAD_VISIBILITY_UNLISTED'}}</option>
                                </select>
                            </div>
                            <div class="field">
                                <div class="ui checked checkbox">
                                    <input type="checkbox" name="nsfw">
                                    <label>{{ translate 'UPLOAD_NFWS_CONTENT' }}</label>
                                </div>
                            </div>
                            {{#if activeUsername}}
                                <div class="field">
                                    <div class="content">
                                        <div class="header" style='text-align: right'>
                                        Burn: 0 DTC
                                        </div>
                                        <div class="ui red range" id="burn-range"></div>
                                    </div>
                                </div>
                            {{/if}}
                        </form>

                        <br /><br />
                        
                            
                        
                        <div id="publishVideo" class="ui right floated labeled button" tabindex="0">
                            <button name="button" class="ui red right labeled dtube icon button">
                                <i class="podcast icon red" style="background:white;opacity:1;"></i>
                                <div style="display:inline-block;padding: 0.8em 1em;">Publish Video</div>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="ui divider"></div>
                <h2>Files</h2>
                {{#unless hasThumbnail}}
                    <label for="snapFile">
                        <a class="ui red dtube icon right labeled button needsclick" id="uploadSnap">
                            <div style="display:inline-block; padding:0.8em 1em;" class="needsclick">
                            Add Thumbnail
                            </div>
                            <i class="cloud upload icon red" style="background:white; opacity:1;"></i>
                        </a>
                        </label>
                    <input type="file" id="snapFile" style="display: none;">
                {{/unless}}

                <div id="addVideo" class="ui labeled button" tabindex="0">
                    <button name="button" class="ui blue right labeled dtube icon button">
                        <i class="video icon blue" style="background:white;opacity:1;"></i>
                        <div style="display:inline-block;padding: 0.8em 1em;">Add Video</div>
                    </button>
                </div>

                <!-- <div id="addSprite" class="ui labeled small button" tabindex="0">
                    <button name="button" class="ui blue right labeled dtube icon button">
                        <i class="film icon blue" style="background:white;opacity:1;"></i>
                        <div style="display:inline-block;padding: 0.8em 1em;">Add Sprite</div>
                    </button>
                </div> -->

                {{#if hasDecentralizedVideo}}
                    <div id="addSubtitle" class="ui labeled button" tabindex="0">
                        <button name="button" class="ui blue right labeled dtube icon button">
                            <i class="file alternate icon blue" style="background:white;opacity:1;"></i>
                            <div style="display:inline-block;padding: 0.8em 1em;">Add Subtitle</div>
                        </button>
                    </div>
                {{/if}}
                
                <table class="ui table">
                    <thead>
                        <th>Type</th>
                        <th>Tech</th>
                        <th>Hash / Id</th>
                        <th>Gateway</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {{#each files}}
                            <tr>
                                <td>{{prettyType type ver}}</td>
                                <td>{{tech}}</td>
                                <td>{{hash}}</td>
                                <td>{{#if gw}}{{gw}}{{else}}Default{{/if}}</td>
                                <td>
                                    {{#if isDecentralized tech}}
                                        <i style="cursor: pointer" class="preview-file external square icon"></i>
                                        <i style="cursor: pointer" class="edit-file edit icon"></i>
                                    {{else}}
                                        <i style="cursor: pointer" class="trash-file trash icon"></i>
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>