<template name="tags">
  {{#if isOnMobile}}
  <div class="ui grid" style="margin: 10px 0px">
      <h2 style="background:red;color:white;padding:10px;">{{ translate 'TAGS_ABOUT'}} {{tagVideos.length}} {{ translate 'TAGS_RESULTS_FOR'}} #{{currentTag}}</h2>
      <h2>{{ translate 'TAGS_NEW'}}</h2>
      {{> videoslider tagVideos}}
      <h2>{{ translate 'TAGS_THIS_MONTH'}}</h2>
      {{> videoslider tagVideos}}
      <h2>{{ translate 'TAGS_ALL_TIME'}}</h2>
      {{> videoslider tagVideos}}
  </div>
  {{else}}
  <div class="ui container">
    <h2 style="background:red;color:white;padding:10px;">{{ translate 'TAGS_ABOUT'}} {{tagVideos.length}} {{ translate 'TAGS_RESULTS_FOR'}} #{{currentTag}}</h2>
    <h2>{{ translate 'TAGS_NEW'}}</h2>
    {{> videoslider tagVideos}}
    <h2>{{ translate 'TAGS_THIS_MONTH'}}</h2>
    {{> videoslider tagVideos}}
    <h2>{{ translate 'TAGS_ALL_TIME'}}</h2>
    {{> videoslider tagVideos}}
  </div>
  {{/if}}
</template>