<template name="tags">
  {{#if isOnMobile}}
  <h2 style="background:red;color:white;padding:10px;">
    {{ translate 'TAGS_ABOUT'}} 
    {{tagVideos.length}} 
    {{ translate 'TAGS_RESULTS_FOR'}} 
    #{{currentTag}}</h2>  
  <div style="margin-left:4px;margin-right:4px;" class="ui content">
      <h2>{{ translate 'TAGS_NEW'}}</h2>
      {{> videoband tagVideos}}
      <h2>{{ translate 'TAGS_THIS_MONTH'}}</h2>
      {{> videoband tagVideos}}
      <h2>{{ translate 'TAGS_ALL_TIME'}}</h2>
      {{> videoband tagVideos}}
  </div>
  {{else}}
  <div class="ui container">
    <h2 style="background:red;color:white;padding:10px;">
      {{ translate 'TAGS_ABOUT'}} {{tagVideos.length}} 
      {{ translate 'TAGS_RESULTS_FOR'}} 
      #{{currentTag}}</h2>
    <h2>{{ translate 'TAGS_NEW'}}</h2>
    {{> videoband tagVideos}}
  </div>
  {{/if}}
</template>