<template name="keypair">
    <form class="ui form keygenform" style="padding-bottom: 45px">
        <div class="field">
            <label style="text-align: left;">{{ translate "KEYPAIR_PUBLIC_KEY" }}</label>
            <div class="ui left icon input">
                <input id="avalonpub" type="text" value="{{tmpKey.pub}}" readonly>
                <i class="lock open icon"></i>
            </div>
        </div>
        <div class="field">
            <label style="text-align: left;">{{ translate "KEYPAIR_PRIVATE_KEY" }}</label>
            <div class="ui left icon action input">
                <input id="avalonpriv" type="text" value="{{tmpKey.priv}}" readonly>
                <i class="key icon"></i>
                <button data-tooltip="Regenerate Keypair" id="regenavalonkey" class="ui tiny icon button">
                    <i class="sync icon"></i>
                </button>
                <button data-tooltip="QR Code" class="ui tiny icon button qrButton">
                    <i class="barcode icon"></i>
                </button>
                {{#unless isOnIDevice}}
                <button data-tooltip="Copy to clipboard" class="ui tiny icon button copyButton">
                    <i class="copy icon"></i>
                </button>
                {{/unless}}
            </div>
        </div>
        {{#unless isOnIDevice}}
        <div id="saveavalonkey" class="ui right floated labeled small button" tabindex="0">
            <button name="button" class="ui blue right labeled dtube icon button">
                <i class="save icon blue" style="background:white;opacity:1;"></i>
                <div style="display:inline-block;padding: 0.8em 1em;">{{ translate "KEYPAIR_SAVE_KEY_TO_DISK" }}</div>
            </button>
        </div>
        {{/unless}}
    </form>
    <div class="ui custom popup popupQRCode bottom left transition hidden">
        <img src="{{qrCode}}">
    </div>
</template>