<template name='newupload'>
    <div class="ui container">
      <center>
          <h1 style="color:red;">NEW UPLOADER</h1>
        <div id="statuszone">
          <div class="ui ordered steps">
            <div class="step">
              <div id="step1load" class="ui indeterminate small inline loader" style='display: none'></div>
              <div class="content">
                <div class="title">{{ translate 'UPLOAD_STEP1_TITLE'}}</div>
                <div class="description">{{ translate 'UPLOAD_STEP1_DESCRITION'}}</div>
              </div>
            </div>
            <div class="step">
              <div id="step2load" class="ui indeterminate small inline loader" style='display: none'></div>
              <div class="content">
                <div class="title">{{ translate 'UPLOAD_STEP2_TITLE'}}</div>
                <div class="description">{{ translate 'UPLOAD_STEP2_DESCRITION'}}</div>
              </div>
            </div>
            <div class="step">
              <div id="step3load" class="ui indeterminate small inline loader" style='display: none'></div>
              <div class="content">
                <div class="title">{{ translate 'UPLOAD_STEP3_TITLE'}}</div>
                <div class="description">{{ translate 'UPLOAD_STEP3_DESCRITION'}}</div>
              </div>
            </div>
          </div>
        </div>
      </center>
      <div class="ui active progress" id='progressvideo' style='display:none'>
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label">Uploading Video</div>
      </div>
      <div class="ui active progress" id='progresssnap' style='display:none'>
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label">Uploading Snap</div>
      </div>
      {{> uploadvideoprogress}}
      <center>
        <br />
        <div id="dropzone" class="dropzone">
          <div>{{ translate 'UPLOAD_UPLOAD_FILE'}}</div>
        </div>
        <input type="file" name="fileToUpload" id="fileToUpload" style='display: none'>
      </center>
      <div id="previewzone">
        <div class="ui grid">
          <div class="two column row">
            <div class="column">
              <video controls autoplay></video>
              <!-- <h6>{{ translate 'UPLOAD_VIDEO_BITRATE'}}: {{humanFilesize bitrate 1}}/s</h6> -->
            </div>
            <div class="column"><canvas></canvas></div>
          </div>
        </div>
        <a class='ui button' id='snap' download='snap.jpg'><i class="photo icon"></i> {{ translate 'UPLOAD_TAKE_SNAP'}}</a>
        <label for="snapFile">
          <a class='ui youtube button' id='uploadSnap'><i class="cloud upload icon"></i> {{ translate 'UPLOAD_UPLOAD_SNAP'}}</a>
        </label>
        <input type="file" id="snapFile">
      </div>
      {{> uploadform}}
    </div>
    </template>
    