<template name='trendingvideos'>
  <div class="ui infinite">
    {{#if isOnMobile}}
      <div class="ui grid" style="margin: 10px 0px">
        <h2>{{ translate 'HOME_TITLE_TRENDING_VIDEOS'}}</h2>
        {{> verticalvideoband trendingVideos}}
        <div class="ui large centered inline loader"></div>
      </div>
    {{else}}
      <div class="ui container">
        <h2>{{ translate 'HOME_TITLE_TRENDING_VIDEOS'}}</h2>
        {{> videoband trendingVideos}}
        <div class="ui large inline loader"></div>
      </div>
    {{/if}}
  </div>
</template>