<template name='channel'>
  {{resetSidebar}} {{#if isOnMobile}}
  <!--- /////////////////////////MOBILE TEMPLATE FOR CHANNEL///////////////////////////// -->
  <div style="width: 100%;">
    <div style="width:100%;background-position: left;
      background-size: cover;background-image:url('https://img.busy.org/@{{user.name}}/cover');margin-top:-13px;">
      <div style="width:100%">
        <div id="showchannelinfo" class="ui grid" style="padding: 0px;margin:0px!important;min-height:120px; max-width: 100%;">
          <img class="ui medium avatar" style="margin: 20px;" src="https://img.busy.org/@{{user.name}}">
          <div class="ui fluid compact menu" style="min-height:0px!important;display: block;border-width:0px;border-radius:0px;">
            <div class="ui videoshowmore   label" style="margin-left: 0em;background:white!important;">
              <i class="icon red star"></i>{{displayReputation author.reputation}}
            </div>
            <div class="ui videoshowmore   label" style="margin-left: 0em;background:white!important;float:right;">
              <i class="icon blue lightning"></i>{{author.voting_power}}
            </div>
            <div class="ui videoshowmore   label" style="margin-left: 0em;background:white!important;float:right;">
              <i class="icon green money"></i>{{author.estimateAccountValue}}
            </div>
          </div>
        </div>
      </div>
    </div>
    {{#if equals activeUser user.name}}
    <!-- <div class="ui labeled mini button" tabindex="0" style="float: right;position: absolute;right: 15px;top: 138px;">
      <div class="ui mini button unsubscribe dtube blue">
        {{ translate 'VIDEO_EDIT'}}
      </div>
    </div> -->
    {{myChannelSidebar}} {{else}} {{#if isSubscribedTo user.name}}
    <div class="ui labeled mini button" tabindex="0" style="float: right;position: absolute;right: 15px;top: 138px;">
      <div class="ui mini button unsubscribe dtube grey">
        {{ translate 'VIDEO_UNSUBSCRIBE'}}
      </div>
      <a class="ui basic label videoshowmore" style="border-width:1px!important;background:white!important;">
        {{{subCount}}}
      </a>
    </div>
    {{else}}
    <div class="ui labeled mini button" tabindex="0" style="float: right;position: absolute;right: 15px;top: 138px;">
      <div class="ui red mini button dtube subscribe">
        {{ translate 'VIDEO_SUBSCRIBE'}}
      </div>
      <a class="ui basic label videoshowmore" style="border-width:1px!important;background:white!important;">
        {{{subCount}}}
      </a>
    </div>
    {{/if}} {{/if}}
    <div class="ui top attached tabular menu mobile" style="margin-top: 0rem;">
      <a class="item active" data-tab="first">VIDEOS</a>
      <a class="item" data-tab="second">ACTIVITIES</a>
      <a class="item" data-tab="third">ABOUT</a>
    </div>
    <!-- MOBILE VIDEOS TAB -->
    <div class="ui bottom attached tab segment active" data-tab="first" style="padding-left: 1px;padding-right:1px;border-width: 0px;background: transparent;">
      {{#if userVideos}}
      <div style="padding-left:10px;padding-right:10px;">
        {{> verticalvideoband userVideos}}
      </div>
      {{/if}}
    </div>
    <!-- MOBILE ACTIVITIES TAB -->
    <div class="ui bottom attached tab segment" data-tab="second" style="padding-left:10px;padding-right:10px;border-width: 0px;background: transparent;">
      <div class="ui white" style="padding-bottom:10px;">
        Last post :
        <div class="ui fluid label">{{timeAgo author.last_post}}</div>
      </div>
      <div class="ui white" style="padding-bottom:10px;">
        Last vote :
        <div class="ui fluid label">{{timeAgo author.last_vote_time}}</div>
      </div>
      <div class="ui white" style="padding-bottom:10px;">
        Account update :
        <div class="ui fluid label">{{timeAgo author.last_account_update}}</div>
      </div>
      <div class="ui white" style="padding-bottom:10px;">
        Joined :
        <div class="ui fluid label">{{displayDate author.created}}</div>
      </div>
    </div>
    <!-- MOBILE INFORMATION TAB -->
    <div class="ui bottom attached tab segment" data-tab="third" style="padding-left:10px;padding-right:10px;border-width: 0px;background: transparent;">
      {{#if author.json_metadata.profile.name}}
      <div class="ui white" style="padding-bottom:10px;">
        Name :
        <div class="ui fluid label">{{author.json_metadata.profile.name}}</div>
      </div>
      {{/if}} {{#if author.json_metadata.profile.about}}
      <div class="ui white" style="padding-bottom:10px;">
        About :
        <div class="ui fluid label">{{author.json_metadata.profile.about}}</div>
      </div>
      {{/if}} {{#if author.json_metadata.profile.location}}
      <div class="ui white" style="padding-bottom:10px;">
        Location :
        <div class="ui fluid label">{{author.json_metadata.profile.location}}</div>
      </div>
      {{/if}} {{#if author.json_metadata.profile.website}}
      <div class="ui white" style="padding-bottom:10px;">
        Website :
        <div class="ui fluid label">{{author.json_metadata.profile.website}}</div>
      </div>
      {{/if}} {{#if userVideos.length}}
      <div class="ui white" style="padding-bottom:10px;">
        Total videos :
        <div class="ui fluid label">{{userVideos.length}}</div>
      </div>
      {{/if}}
      <div class="ui white" style="padding-bottom:10px;">
        <img style='width:16px;height:16px;margin-right:5px;' src='https://busy.org/favicon.ico'>Busy Blog :
        <div class="ui fluid label" style="background:#4757b2 !important;color:white;">
          <a href='https://busy.org/@{{user.name}}' style="opacity:1!important;" target='_blank'>https://busy.org/@{{user.name}}</a>
        </div>
      </div>
      <div class="ui white" style="padding-bottom:10px;">
        <img style='width:16px;height:16px;margin-right:5px;' src='https://steemit.com/favicon.ico'>SteemIt Blog :
        <div class="ui fluid label" style="background:#07dfb0 !important;color:white;">
          <a href='https://steemit.com/@{{user.name}}' style="opacity:1!important;" target='_blank'>https://steemit.com/@{{user.name}}</a>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <!--- /////////////////////////DESKTOP TEMPLATE FOR CHANNEL///////////////////////////// -->
  <div style="width: 100%;">
    <div style="width:100%;background-position: left;
        background-size: cover;background-image:url('https://img.busy.org/@{{user.name}}/cover');margin-top:-13px;">
      <div style="width:100%">
        <div id="showchannelinfo" class="ui grid" style="padding: 0px;margin:0px!important;min-height:120px; max-width: 100%;display: block;">
          <img class="ui medium avatar" style="margin: 20px;" src="https://img.busy.org/@{{user.name}}"> {{#if equals activeUser user.name}}
          <!-- <div class="ui labeled mini button" tabindex="0" style="float: right;position: relative; margin-top: 80px;margin-right: 0px; width: 175px;">
              <div class="ui mini button unsubscribe dtube blue">
                {{ translate 'VIDEO_EDIT'}}
              </div>
            </div> -->
          {{myChannelSidebar}} {{else}} {{#if isSubscribedTo user.name}}
          <div class="ui labeled mini button" tabindex="0" style="float: right;position: relative; margin-top: 80px;margin-right: 0px; width: 175px;">
            <div class="ui mini button unsubscribe dtube grey">
              {{ translate 'VIDEO_UNSUBSCRIBE'}}
            </div>
            <a class="ui basic label videoshowmore" style="border-width:1px!important;background:white!important;">
              {{{subCount}}}
            </a>
          </div>
          {{else}}
          <div class="ui labeled mini button" tabindex="0" style="float: right;position: relative; margin-top: 80px;margin-right: 0px; width: 175px;">
            <div class="ui red mini button dtube subscribe">
              {{ translate 'VIDEO_SUBSCRIBE'}}
            </div>
            <a class="ui basic label videoshowmore" style="border-width:1px!important;background:white!important;">
              {{{subCount}}}
            </a>
          </div>
          {{/if}} {{/if}}
          <div class="ui fluid compact menu" style="min-height:0px!important;display: block;border-width:0px;border-radius:0px;">
            <div class="ui videoshowmore   label" style="margin-left: 0em;background:white!important;float:right;">
              <i class="icon red star"></i>{{displayReputation author.reputation}}
            </div>
            <div class="ui videoshowmore   label" style="margin-left: 0em;background:white!important;float:right;">
              <i class="icon blue lightning"></i>{{author.voting_power}}
            </div>
            <div class="ui videoshowmore   label" style="margin-left: 0em;background:white!important;float:right;">
              <i class="icon green money"></i>{{author.estimateAccountValue}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui top attached tabular menu" style="margin-top: 0rem;">
      <a class="item active" data-tab="first">VIDEOS</a>
      <a class="item" data-tab="second">ACTIVITIES</a>
      <a class="item" data-tab="third">ABOUT</a>
    </div>
    <!-- DESKTOP VIDEOS TAB -->
    <div class="ui bottom attached tab segment active" data-tab="first" style="padding-left: 1px;padding-right:1px;border-width: 0px;background: transparent;">
      {{#if userVideos}} {{> videoband userVideos}} {{/if}}
    </div>
    <!-- DESKTOP ACTIVITIES TAB -->
    <div class="ui bottom attached tab segment" data-tab="second" style="padding-left:10px;padding-right:10px;border-width: 0px;background: transparent;">
      <div class="ui grid two column">
        <div class="column">
          <div class="ui white" style="padding-bottom:10px;">
            Last post :
            <div class="ui fluid label">{{timeAgo author.last_post}}</div>
          </div>
          <div class="ui white" style="padding-bottom:10px;">
            Last vote :
            <div class="ui fluid label">{{timeAgo author.last_vote_time}}</div>
          </div>
          <div class="ui white" style="padding-bottom:10px;">
            Account update :
            <div class="ui fluid label">{{timeAgo author.last_account_update}}</div>
          </div>
          <div class="ui white" style="padding-bottom:10px;">
            Joined :
            <div class="ui fluid label">{{displayDate author.created}}</div>
          </div>
        </div>
        <div class="column">
          AJOUT DE GETACCOUNTHISTORY</div>
      </div>
    </div>
    <!-- DESKTOP INFORMATION TAB -->
    <div class="ui bottom attached tab segment" data-tab="third" style="padding-left:10px;padding-right:10px;border-width: 0px;background: transparent;">
      <div class="ui grid two column">
        <div class="column">
          {{#if author.json_metadata.profile.name}}
          <div class="ui white" style="padding-bottom:10px;">
            Name :
            <div class="ui fluid label">{{author.json_metadata.profile.name}}</div>
          </div>
          {{/if}} {{#if author.json_metadata.profile.about}}
          <div class="ui white" style="padding-bottom:10px;">
            About :
            <div class="ui fluid label">{{author.json_metadata.profile.about}}</div>
          </div>
          {{/if}} {{#if author.json_metadata.profile.location}}
          <div class="ui white" style="padding-bottom:10px;">
            Location :
            <div class="ui fluid label">{{author.json_metadata.profile.location}}</div>
          </div>
          {{/if}} {{#if author.json_metadata.profile.website}}
          <div class="ui white" style="padding-bottom:10px;">
            Website :
            <div class="ui fluid label">{{author.json_metadata.profile.website}}</div>
          </div>
          {{/if}} {{#if userVideos.length}}
          <div class="ui white" style="padding-bottom:10px;">
            Total videos :
            <div class="ui fluid label">{{userVideos.length}}</div>
          </div>
          {{/if}}
          <div class="ui white" style="padding-bottom:10px;">
            <img style='width:16px;height:16px;margin-right:5px;' src='https://busy.org/favicon.ico'>Busy Blog :
            <div class="ui fluid label" style="background:#4757b2 !important;color:white;">
              <a href='https://busy.org/@{{user.name}}' style="opacity:1!important;" target='_blank'>https://busy.org/@{{user.name}}</a>
            </div>
          </div>
          <div class="ui white" style="padding-bottom:10px;">
            <img style='width:16px;height:16px;margin-right:5px;' src='https://steemit.com/favicon.ico'>SteemIt Blog :
            <div class="ui fluid label" style="background:#07dfb0 !important;color:white;">
              <a href='https://steemit.com/@{{user.name}}' style="opacity:1!important;" target='_blank'>https://steemit.com/@{{user.name}}</a>
            </div>
          </div>
        </div>
        <div class="column">
          AJOUT DE ?
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>