<template name="swaperc20">
    <!-- Swap ERC-20 Modal -->
    <div class="ui small modal swaperc20 {{#if isNightMode}}nightmodemodal{{/if}}" style="z-index:1001; position: fixed; top: 50%; left:50%; transform: translate(-50%, -50%); margin-top: 30px;">
        <div class="header">
            <div id="swapInverse" class="ui right labeled icon button blue dtube" style="float:right; margin-top:-0.45em">
                <div style="display:inline-block;padding: 0.8em 1em;">
                    {{ translate 'ERC20_SWAP_BTN_REVERSE' }}
                </div>
                <i class="icon exchange blue" style="background:white;opacity:1;"></i>
            </div>
            DTUBE (DTC)
            {{#if metamaskSwapInverse}}
                <i class="icon backward"></i>
            {{else}}
                 <i class="icon forward"></i> 
            {{/if}}
            DTUBE ({{metamaskNetwork}})
        </div>
        <div class="scrolling content">
            <p>{{ translate 'ERC20_SWAP_TEXT' metamaskNetworkName }}</p>
            <form class="ui large form wid-ful">
                {{#if metamaskSwapInverse}}
                    <div class="ui segments" id="avalonToErc20">
                        <div class="ui segment" style="padding: 20px; padding-top: 5px;">
                            <div class="field">
                                <label>{{ translate 'TRANSFER_AMOUNT'}} (Max: {{displayMoney balanceErc20 0 'DTC'}})</label>
                                <div class="ui left icon input">
                                <i class="calculator icon"></i>
                                <input id="swapAmount" type="number" min="0.01" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" style="padding: 20px;">
                            <div class="field">
                                <label>Sender</label>
                                {{metamaskAddress}}
                            </div>
                        </div>
                        <div class="ui segment" style="padding: 20px;">
                            <div class="field">
                                <label>Receiver</label>
                                {{activeUsername}}
                            </div>
                        </div>
                        <div class="ui segment" style="padding: 20px;">
                            <div class="field">
                                <label>Final received amount</label>
                                {{displayMoney finalAmount 0 'DTC'}}
                            </div>
                        </div>
                    </div>
                {{else}}
                    <div class="ui segments" id="avalonToErc20">
                        <div class="ui segment" style="padding: 20px; padding-top: 5px;">
                            <div class="field">
                                <label>{{ translate 'TRANSFER_AMOUNT'}} ({{ translate 'BALANCE' }}: {{displayMoney balanceAvalon 0 'DTC'}}, {{ translate 'ERC20_SWAP_AVAILABLE_DEPOSIT_LIQUIDITY' }}: {{displayMoney depositAddressBalance 0 'DTC'}})</label>
                                <div class="ui left icon input">
                                <i class="calculator icon"></i>
                                <input id="swapAmount" type="number" min="0.01" step="0.01">
                                </div>
                            </div>
                        </div>
                        <div class="ui segment" style="padding: 20px;">
                            <div class="field">
                                <label>Sender</label>
                                {{activeUsername}}
                            </div>
                        </div>
                        <div class="ui segment" style="padding: 20px;">
                            <div class="field">
                                <label>Receiver</label>
                                {{metamaskAddress}}
                            </div>
                        </div>
                        <div class="ui segment" style="padding: 20px;">
                            <div class="field">
                                <label>Estimated Transaction Fees {{>badgehelp 'erc20-swap-fees'}}</label>
                                {{displayMoney dtcFee 0 'DTC'}}
                            </div>
                            <div class="field">
                                <label>Final received amount</label>
                                {{displayMoney finalAmount 0 'DTC'}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </form>
        </div>
        <div class="actions">
            <div id="confirmSwap" class="ui right labeled icon button red dtube pos-rel {{#unless isValid}}disabled{{/unless}}">
                <div style="display:inline-block;padding: 0.8em 1em;">
                    Confirm
                </div>
                <i class="icon check red" style="background:white;opacity:1;"></i>
                <i class="icon white loading spinner dsp-non" style="background-color: transparent;opacity:1;"></i>
            </div>
            <div id="cancelSwap" class="ui right labeled icon button grey dtube pos-rel">
                <div style="display:inline-block;padding: 0.8em 1em;">
                    {{ translate 'BUTTON_CANCEL' }}
                </div>
                <i class="icon x" style="background:white;opacity:1; color:black!important"></i>
            </div>
        </div>
    </div>
</template>