<template name='newvideos'>
  <div class="ui infinite">
    {{#if isOnMobile}}
      <div class="ui grid" style="margin: 10px 0px">
        <h2 class="mb-2">{{ translate 'HOME_TITLE_NEW_VIDEOS'}}</h2>
        {{> verticalvideoband newVideos}}
        <div class="sixteen wide column">
            <div class="ui large centered inline text loader"></div>
        </div>
      </div>
      {{else}}
      <div class="ui container">
        <h2 class="mb-2">{{ translate 'HOME_TITLE_NEW_VIDEOS'}}</h2>
        {{> videoband newVideos}}
        <div class="ui large centered inline text loader"></div>
      </div>
    {{/if}}
  </div>
</template>
