<template name="pm">
    <div class="ui container">
        <h2 class="mb-2">
            {{ translate 'DTALK_CONV_WITH' convo.alias.username}}
            {{#unless isVerified}}
                <i class="exclamation triangle icon"></i>
            {{/unless}}
        </h2>
        <div class="ui comments" style="max-height: 400px; overflow-y: overlay;">
            {{#each messages}}
                <div class="comment">
                    <a class="avatar">
                        {{#if me}}
                            <img class="ui avatar image" src="{{userPic activeUsername}}">
                        {{else}}
                            <img class="ui avatar image" src="{{userPic convo.alias.username}}">
                        {{/if}}
                    </a>
                    <div class='content'>
                        <a class="author"
                            href='/c/{{#if me}}{{activeUsername}}{{else}}{{convo.alias.username}}{{/if}}'>
                            {{#if me}}
                                {{activeUsername}}
                            {{else}}
                                {{convo.alias.username}}
                            {{/if}}
                        </a>
                        <div class='metadata'>
                            <span class="date">{{timeAgoReal id}}</span>
                        </div>
                        <div class='text'>
                            {{#if msgdec}}
                                {{msgdec}}
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <form id='newMessageForm' class="ui reply form">
            <div class="field">
                <input id='newMessage' type='text' placeholder='Reply...' />
            </div>
        </form>
    </div>
</template>