<template name='login'>
  <div class="ui two column centered grid">
    <div class="column">
      <form class="ui large form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="privatekey" placeholder="Private Posting Key">
            </div>
          </div>
          <button type="submit" name="button" class="ui fluid large youtube submit button">Login</button>
        </div>
        <div class="ui error message"></div>
      </form>
    </div>
  </div>
</template>
