<template name='settings'>
  <form class="ui form">
    <div class="field">
      <label>Vote Percentage</label>
      <div class="ui vertical hover labeled range"></div>
      <input type='number' min='0.01' max='100' step='0.01'>
    </div>
    <div class="field">
      <label>Upload IPFS Node</label>
      <select name='ipfsUpload'>
        {{#each uploadNodes}}
          <option value="{{owner}}">{{owner}} {{node.protocol}}://{{node.host}}:{{node.port}}</option>
        {{/each}}
      </select>
    </div>
    <div class="field">
      <label>IPFS Gateway</label>
      <select name='ipfsGateway'>
        {{#each displayNodes}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
    <button class="ui youtube button" type="submit">Submit</button>
  </form>
</template>
