<template name='upload'>
  <center>
    <div id="dropzone" class="dropzone">
      <div>Drop a file to start the upload</div>
    </div>
  </center>
  <div id="previewzone">
    <div class="ui grid">
      <div class="two column row">
        <div class="column"><video controls autoplay></video></div>
        <div class="column"><canvas></canvas></div>
      </div>
    </div>
    <a class='ui button' id='snap' download='snap.jpg'>Take Snap</a>
    <label for="snapFile">
      <a class='ui youtube button' id='uploadSnap'>Upload Snap</a>
    </label>
    <input type="file" id="snapFile">
  </div>
  <div id="infozone">
    <form class="ui form">
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea rows="4" name='description'></textarea>
      </div>
      <div class="field">
        <label>Tags</label>
        <input id="tags" name="tags" type="text" placeholder="" required="">
      </div>

      <div class="field">
        <label>More Info</label>
        <input type="text" name="author" placeholder="author" value="{{mainUser.username}}" disabled>
        <input type="text" name="videohash" placeholder="videohash" disabled>
        <input type="text" name="snaphash" placeholder="snaphash" disabled>
      </div>

      <button class="ui button" type="submit">Clear</button>
      <button class="ui youtube button" type="submit">Submit</button>
    </form>
  </div>
</template>
