<template name='upload'>
  <center>
    <div id="statuszone">
      <div class="ui ordered steps">
        <div class="step">
          <div id="step1load" class="ui indeterminate small inline loader" style='display: none'></div>
          <div class="content">
            <div class="title">Video</div>
            <div class="description">Upload a video</div>
          </div>
        </div>
        <div class="step">
          <div id="step2load" class="ui indeterminate small inline loader" style='display: none'></div>
          <div class="content">
            <div class="title">Snap</div>
            <div class="description">Upload a thumbnail</div>
          </div>
        </div>
        <div class="step">
          <div id="step3load" class="ui indeterminate small inline loader" style='display: none'></div>
          <div class="content">
            <div class="title">Submit to the Blockchain</div>
            <div class="description">Enter a title, description and tags</div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div id="dropzone" class="dropzone">
      <div>Drop a file or click to start the upload</div>
    </div>
    <input type="file" name="fileToUpload" id="fileToUpload" style='display: none'>
  </center>
  <div id="previewzone">
    <div class="ui grid">
      <div class="two column row">
        <div class="column"><video controls autoplay></video></div>
        <div class="column"><canvas></canvas></div>
      </div>
    </div>
    <a class='ui button' id='snap' download='snap.jpg'>Take Snap</a>
    <label for="snapFile">
      <a class='ui youtube button' id='uploadSnap'>Upload Snap</a>
    </label>
    <input type="file" id="snapFile">
  </div>
  <div id="infozone">
    <form class="ui form">
      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <label>Description</label>
        <textarea rows="4" name='description'></textarea>
      </div>
      <div class="field">
        <label>Tags</label>
        <input id="tags" name="tags" type="text" placeholder="">
      </div>

      <div class="field" style='display: none'>
        <label>More Info</label>
        <input type="text" name="author" placeholder="author" value="{{mainUser.username}}" disabled>
        <input type="text" name="videohash" placeholder="videohash" disabled>
        <input type="text" name="snaphash" placeholder="snaphash" disabled>
      </div>

      <button class="ui button" type="submit">Clear</button>
      <button class="ui youtube button" type="submit">Submit</button>
    </form>
  </div>
</template>
