<template name='video'>
  {{#with video}}
    <div class="ui container">
      <video src='{{ipfsGateway}}/ipfs/{{content.videohash}}' poster="{{ipfsGateway}}/ipfs/{{info.snaphash}}" controls autoplay class='videoplayer'></video>
      <div class="ui grid">
        <div class="twelve wide column">
          <h1>{{info.title}}</h1>
          By
          <a href="/c/{{info.author}}">
            <a class="ui avatar image">
              <img src="{{userPic info.author}}">
            </a>
            {{info.author}}
          </a>
        </div>
        <div class="four wide column right aligned">
          <div class='videopayout'>
            {{displayPayout pending_payout_value total_payout_value}}
          </div>
          {{#if hasUpvoted video}}
            <a class="small ui red label upvote">
              <i class="thumbs up icon"></i> {{upvotes active_votes}}
            </a>
          {{else}}
            <a class="small ui label basic upvote">
              <i class="thumbs up icon"></i> {{upvotes active_votes}}
            </a>
          {{/if}}

          {{#if hasDownvoted video}}
            <a class="small ui red label downvote">
              <i class="thumbs down icon"></i> {{downvotes active_votes}}
            </a>
          {{else}}
            <a class="small ui label basic downvote">
              <i class="thumbs down icon"></i> {{downvotes active_votes}}
            </a>
          {{/if}}


          <br />

        </div>
        <div class="sixteen wide column">
          <strong>Added on {{timeDisplay created}}</strong>
          <br />
          {{{syntaxed content.description}}}
        </div>
      </div>

      <h3 class="ui dividing header">Comments</h3>
      {{#if isReplying this}}
        <form class="ui reply form">
          <div class="field">
            <textarea style='height: 5em;min-height:5em'></textarea>
          </div>
          <div class="ui red labeled submit icon button">
            <i class="icon edit"></i> Reply to @{{info.author}}
          </div>
        </form>
      {{else}}
        <a class="replyTo ui label basic" data-author='{{info.author}}' data-permlink='{{info.permlink}}'>Reply</a>
      {{/if}}

      <div class="twelve wide column" style='margin-top: 15px'>
        {{> comments}}
      </div>
    </div>
  {{/with}}
</template>
