<template name='notificationdropdown'>
  <div class="ui item right pointing top dropdown dropdownnotification">
    {{#if notifications.length}}
    <i id="notification" class="alarm icon" style='font-size:1.5em; margin:0;'></i>
    <span id="notificationcount" style="background:red;font-weight:600;" class="notificationdtube">{{notifications.length}}</span>
    {{else}}
    <i id="notification" class="alarm icon outline" style='font-size:1.5em; margin:0;'></i>
    <span class="notificationdtube">0</span>
    {{/if}}
    <div id="notificationmenu" class="menu" style="overflow-y: auto;max-height: 600px;padding-bottom: 5px;">
      <h4 style="padding-left: 10px;margin-bottom: 10px;padding-top: 10px;">Notifications</h4>
      <div class="item" style="height:0px!important;width:0px!important;padding:0px!important;"></div>
      {{#each notifications}} 
      {{#if equals type 'subscribe'}}
      <div class="ui  card" style="margin: 0px 5px;white-space: inherit;width:400px!important;border-radius:0px;    background: #fafafa;">
        <div class="content">
          <div class="right floated">
            <i class="remove circle icon notificationremove"></i>
          </div>
          <img class="ui avatar image" src="https://img.busy.org/@{{tx.json.[1].follower}}">
          <a style="color:#ff1a1a!important;" href="/c/{{tx.json.[1].follower}}" target="_blank" class="user">{{tx.json.[1].follower}}</a>
          subscribed to your channel
        </div>
      </div>
      {{/if}} 
      {{#if equals type 'comment'}}
      <div class="ui card" style="margin: 0px 5px;white-space: inherit;width:400px!important;border-radius:0px;    background: #fafafa;">
        <div class="content">
          <div class="right floated">
            <i class="remove circle icon"></i>
          </div>
          <img class="ui avatar image" src="https://img.busy.org/@{{tx.author}}">
          <a style="color:#ff1a1a!important;" href="/c/{{tx.author}}" target="_blank" class="user">{{tx.author}}</a>
          commented
          <div style="margin-top:5px;white-space: normal;
                    display: flex;">
            <img style="border-radius:5px;" width="105" height="59" src="https://ipfs.io/ipfs/{{getSnap tx.parent_author tx.parent_permlink}}">
            <span style="margin-left: 5px;"> {{getTitle tx.parent_author tx.parent_permlink}}</span>
          </div>
        </div>
      </div>
      {{/if}} 
      {{#if equals type 'vote'}}
      <div class="ui card" style="margin: 0px 5px;white-space: inherit;width:400px!important;border-radius:0px;    background: #fafafa;">
        <div class="content">
          <div class="right floated">
            <i class="remove circle icon"></i>
          </div>
          <img class="ui avatar image" src="https://img.busy.org/@{{tx.voter}}">
          <a style="color:#ff1a1a!important;" href="/c/{{tx.voter}}" target="_blank" class="user">{{tx.voter}}</a>
          uptoved
          <div style=" margin-top:5px;white-space: normal;display: flex;">
            <img style="border-radius:5px;" width="105" height="59" src="https://ipfs.io/ipfs/{{getSnap tx.author tx.permlink}}">
            <span style="margin-left: 5px;">{{getTitle tx.author tx.permlink}}</span>
          </div>
        </div>
      </div>
      {{/if}} 
      {{/each}} 
      {{#if hasRewards mainUser}}
      <div class="ui card" style="margin: 0px 5px 5px 5px;white-space: inherit;width:400px!important;border-radius:0px;    background: #fafafa;">
        <div class="content">
          <div class="right floated">
            <i class="validate circle icon notificationremove"></i>
          </div>
          <a style="padding: 0px;" class='item claimRewards' data-username='{{activeUser}}' title='{{displayRewards mainUser}}'>
            <i class="large money icon"></i> {{ translate 'USERS_CLAIM_REWARDS'}}</a>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</template>