<template name="announcement">
    <div class="ui grid centered sticky" style='display: none; position: fixed;bottom: 0;width: 100%;margin: 0;'>
        <div class="ui small compact message announcement">
            <i class="close icon"></i>
            <div class="header">
            Announcing Dtube Partnership Program
            </div>
            <p>
                Are you a content creator? We want you on Dtube! Check out our new 
                <a style="color: #F01A30" href="https://peakd.com/dtube/@dtube/announcing-dtube-partnership-program" target="_blank">partnership program</a>.
            </p>
        </div>
    </div>
</template>