<template name="announcement">
    <div class="ui grid centered sticky" style='display: none; position: fixed; bottom: 0; margin: auto; width: 100%; z-index: 999;'>
        <div class="ui small compact message announcement" style="width: 100%;">
            <i class="close large icon" style="top: 35%; bottom: 35%;"></i>
            <div class="header">
            Avalon's 6th hardfork "Space Odyssey"
            </div>
            <p>
                Find out about the
                <a style="color: #F01A30" href="/v/dtube/hf6-announcement">changes</a> that you need to know about the latest network upgrade.
            </p>
        </div>
    </div>
</template>