<template name="announcement">
    <div class="ui grid centered sticky" style='display: none; position: fixed; bottom: 0; margin: auto; width: 100%; z-index: 999;'>
        <div class="ui small compact message announcement" style="width: 100%;">
            <i class="close large icon" style="top: 35%; bottom: 35%;"></i>
            <div class="header">
            Announcing Dtube Partnership Program
            </div>
            <p>
                Are you a content creator? We want you on Dtube! Check out our new 
                <a style="color: #F01A30" href="https://peakd.com/dtube/@dtube/announcing-dtube-partnership-program" target="_blank">partnership program</a>.
            </p>
        </div>
    </div>
</template>