<template name='buttonsubscribe'>
    <div class="ui red dtube button subscribe" tabindex="0">
        <div style="display:inline-block;padding: 0.8em 1em;">
            {{ translate 'VIDEO_SUBSCRIBE'}}
        </div>
        <div class="ui label btnlabel">
            {{{subCount info.author}}}
        </div>
    </div>
</template>

<template name='buttonunsubscribe'>
    <div class="ui grey dtube button unsubscribe" tabindex="0">
        <div style="display:inline-block;padding: 0.8em 1em;">
            {{ translate 'VIDEO_UNSUBSCRIBE'}}
        </div>
        <div class="ui label btnlabel">
            {{{subCount info.author}}}
        </div>
    </div>
</template>

<template name='buttoneditprofile'>
    <a href="https://steemit.com/@{{user.name}}/settings" target="_blank">
        <div class="ui right labeled icon button blue dtube" style="float:right;margin-right: 10px !important;">
            <div style="display:inline-block;padding: 0.8em 1em;">
                {{ translate 'CHANNEL_EDIT_MY_PROFIL'}}
            </div>
            <i class="icon edit blue" style="background:white;opacity:1;"></i>
        </div>
    </a>
</template>

<template name='buttonlogin'>
    <a href="/login/steem">
        <div class="ui right labeled icon button red dtube pos-rel">
            <div style="display:inline-block;padding: 0.8em 1em;">
                {{ translate "TOPBAR_LOGIN"}}
            </div>
            <i class="icon sign in red" style="background:white;opacity:1;"></i>
        </div>
    </a>
</template>

<template name='buttonloginavalon'>
    <a href="/login/dtube">
        <div class="ui right labeled icon button red dtube pos-rel">
            <div style="display:inline-block;padding: 0.8em 1em;">
                {{ translate "TOPBAR_LOGIN"}}
            </div>
            <i class="icon sign in red" style="background:white;opacity:1;"></i>
        </div>
    </a>
</template>

<template name='buttonedit'>
    <div class="ui right labeled icon button red editvideo dtube pos-rel">
        <div style="display:inline-block;padding: 0.8em 1em;">
            {{ translate 'VIDEO_EDIT'}}
        </div>
        <i class="icon edit red" style="background:white;opacity:1;"></i>
    </div>
</template>

<template name='buttontransfer'>
    <div class="ui right labeled icon button green transferdtcbtn dtube pos-rel">
        <div style="display:inline-block;padding: 0.8em 1em;">
            {{ translate 'CHANNEL_TRANSFER'}}
        </div>
        <i class="icon gift green" style="background:white;opacity:1;"></i>
    </div>
    <!-- Send DTC Modal -->
    <div class="ui small modal transferdtc" style="z-index:1001; position: fixed; top:50%; left:50%; transform: translate(-50%, -50%)">
        <div class="header">{{ translate 'TRANSFER_TO' name}}</div>
        <div class="content">
            <form class="ui large form wid-ful ">
                <div class="ui segments">
                    <div class="ui segment" style="padding: 20px;">
                        <div class="field">
                            <label>{{ translate 'TRANSFER_AMOUNT'}}</label>
                            <div class="ui left icon input">
                            <i class="calculator icon"></i>
                            <input type="number" min="1" id="transfer_amount" value="1">
                            </div>
                        </div>
                        <div class="field">
                            <label>{{ translate 'TRANSFER_MEMO'}}</label>
                            <div class="ui left icon input">
                            <i class="pencil icon"></i>
                            <input type="text" id="transfer_memo" value="{{author.json.profile.cover_image}}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <div id="confirmTransfer" class="ui confirm green button">Approve</div>
            <div id="cancelTransfer" class="ui cancel button">Cancel</div>
        </div>
    </div>
</template>