<template name='comment'>
  <div class="comment">
    <a class="avatar">
      <img src="{{userPic author}}">
    </a>
    <div class="content">
      <a href='/c/{{author}}' class="author">{{author}}</a>
      <div class="metadata">
        <span class="date">{{timeAgo created}}</span>
        <span class="money">{{displayPayout pending_payout_value total_payout_value curator_payout_value}}</span>
      </div>
      <div class="text">
        {{{syntaxed body}}}
      </div>
      <div class="actions noselect">
        {{#if hasUpvoted this}}
          <a class="upvoteComment" data-author='{{author}}' data-permlink='{{permlink}}'><i class="thumbs up icon red"></i> {{upvotes active_votes}}</a>
        {{else}}
          <a class="upvoteComment" data-author='{{author}}' data-permlink='{{permlink}}'><i class="thumbs up icon"></i> {{upvotes active_votes}}</a>
        {{/if}}

        {{#if hasDownvoted this}}
          <a class="downvoteComment" data-author='{{author}}' data-permlink='{{permlink}}'><i class="thumbs down icon red"></i> {{downvotes active_votes}}</a>
        {{else}}
          <a class="downvoteComment" data-author='{{author}}' data-permlink='{{permlink}}'><i class="thumbs down icon"></i> {{downvotes active_votes}}</a>
        {{/if}}

        <a class="replyTo" data-author='{{author}}' data-permlink='{{permlink}}'>Reply</a>
      </div>
      {{#if isReplying this}}
        <form class="ui reply form">
          <div class="field">
            <textarea style='height: 5em;min-height:5em'></textarea>
          </div>
          <div class="ui red labeled submit icon button">
            <i class="icon edit"></i> Reply to @{{author}}
          </div>
        </form>
      {{/if}}
    </div>
    {{#with comments}}
      {{> subcomments}}
    {{/with}}
  </div>
</template>
