<template name='helpmodal'>
    <div class="ui modal">
            <i class="close icon"></i>
            <div class="header">
            DTube Help
            </div>
            <div class="image content">
            <div class="ui medium image">
                    <a class="header item" id='textlogo'>
                            <i class="dtube play icon"></i>Tube
                          </a>            </div>
            <div class="description">
                <div class="ui header">We are still working to improve help page.</div>
                <p>Check Latest info on <a href="https://steemit.com/dtube/@heimindanger/dtube-0-3-this-update-contains-so-many-new-features-i-could-not-find-a-good-title-for-it" target="_blank">Steemit</a></p>
                <p>You may also contact us at : <a href="mailto:contact@d.tube">DTube Support</a></p>
            </div>
            </div>
            <div class="actions">
            <div class="ui positive right labeled icon button">
                Thanks for help
                <i class="checkmark icon"></i>
            </div>
            </div>
    </div>
</template>