<template name="horizontalslider">
    <div class="pos-rel">
        <input type="range" min="0" max="100" step="0.1" class="hslider"
            id="{{sliderid}}">
        <div id="hsliderbackholder" class="hsliderbackholder {{color}} {{sliderid}}"></div>
        <div id="hsliderholder" class="hsliderholder"></div>
        <div id="bubblehsliderholder" class="bubblehsliderholder">
            <img style="width: 30px;" src="./DTube_files/images/logos/dtube_round.png">
        </div>
    </div>
</template>