<template name='menu'>
  <div class="ui left vertical inverted sidebar labeled menu">
    <a href='/' class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a href='/v/test' class="item">
      <i class="block layout icon"></i>
      Random Video
    </a>
    <a href='/upload' class="item">
      <i class="block layout icon"></i>
      Upload Video
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Friends
    </a>
  </div>
</template>
