<template name='notificationdropdown'>
        <div class="ui item top left pointing dropdown dropdownnotification">
            <i id="notification" class="announcement icon" style='font-size:1.5em; margin:0;'></i>
            <a id="notificationcount" class="notificationdtube">12</a>
            <div class="menu">
                {{#if hasRewards user}}
                <div class="item notification">
                    <a class='item claimRewards' data-username='{{user.username}}' title='{{displayRewards user}}'>
                    <i class="money icon"></i> {{ translate 'USERS_CLAIM_REWARDS'}}</a>
                </div>
                {{else}}
                <div class="item">
                        <a><i class="alarm outline icon"></i>THERE IS NO NOTIFICATION !</a>                        
                    </div>
                {{/if}}
            </div>
        </div>
</template>
          