<template name='pusher'>
  {{#if isOnMobile }}
    {{> mobiletopbar}}
    <div id="sidebar" class="ui mobile sidebar fixed left vertical inverted labeled icon menu">
      {{> sidebar}}
    </div>
  {{else}}
    {{> topbar}}
    <div id="sidebar" class="ui desktop sidebar left vertical inverted labeled icon menu">
      {{> sidebar}}
    </div>
  {{/if}}

  {{> mobileselector}}
  <div class="pusher">
    <div class='article'>
      {{#if isOnMobile }}
        <div class="ui container-fluid" style="margin-bottom:2em;">
          <div class="ui orange message">
            <a href="https://token.d.tube" class="ui red right floated button" tabindex="0">
              Buy DTC
            </a>
            <div class="header">
              WARNING: DTube sale: >40% tokens already sold!
            </div>
            LAST CALL before DTube Coins Official Release (end of Q4).
          </div>
        </div>
        <main class='ui main mobile only' style="margin-top: -12px;">
          {{> Template.dynamic template=main}}
        </main>
      {{else}}
        <main class='ui maingrid content'>
          <div class="ui container" style="margin-bottom:2em;">
            <div class="ui orange message">
              <a href="https://token.d.tube" class="ui red right floated button" tabindex="0">
                Buy DTC
              </a>
              <div class="header">
                WARNING: DTube sale >40% token already sold!
              </div>
            LAST CALL before DTube Coins Official Release (end of Q4).
            </div>
          </div>
          {{> Template.dynamic template=main}}
        </main>
      {{/if}}
    </div>
  </div>
</template>
