<template name='search'>
  <!-- <div class="ui segment" style="max-width: 800px;
  margin: auto;">
  {{#if isOnMobile }}
  <div class="ui content" style="padding-left:10px;padding-right:10px;">
    <div style="display: inline;">
        <h2 class='gray'>
            {{ translate 'SEARCH_RESULTS_THERE_IS'}} 
          {{lengthOf search.response.results}} {{#if isPlural search.response.results}} 
          {{ translate 'SEARCH_RESULTS'}} 
          {{else}}
            {{translate 'SEARCH_RESULT'}} 
            {{/if}} 
            {{ translate 'SEARCH_RESULTS_FOR'}} 
            {{search.query}}
          </h2>
      <div class="ui mini top right floated" style="float:right;right:20px;">
        <a href='https://www.asksteem.com/' target='_blank'>
          <img class="ui mini top sticky right floated image" src="https://cdn.hoxly.com/asksteem/attribution.png">
        </a>
      </div>
    </div>
    {{#each search.response.results}} 
    {{> mobilevideosearchresult}} 
    {{/each}}
  </div>
  {{else}}
  <div class="ui content container">
    <div style="display: inline-flex;">
        <h2 class='gray'>
            {{ translate 'SEARCH_RESULTS_THERE_IS'}} 
            {{lengthOf search.response.results}} 
            {{#if isPlural search.response.results}} 
            {{ translate 'SEARCH_RESULTS'}} 
            {{else}}
              {{translate 'SEARCH_RESULT'}} 
              {{/if}} 
              {{ translate 'SEARCH_RESULTS_FOR'}} 
              {{search.query}}
            </h2>
        <div class="ui top right floated" style="float: right;margin-left: 20px;right: 20px;position: absolute;">
          <a href='https://www.asksteem.com/' target='_blank'>
            <img class="ui small top sticky right floated image" src="https://cdn.hoxly.com/asksteem/attribution.png">
          </a>
        </div>
      </div>
    {{#each search.response.results}} 
    {{> videosearchresult}} 
    {{/each}}
  </div>
  {{/if}}
</div> -->
  {{#if isOnMobile}}
  <div style="margin-left:10px;margin-right:10px;" class="ui content">
    <h2 style="max-width: calc(100% - 90px);margin-bottom:20px;"> {{ translate 'SEARCH_RESULTS_THERE_IS'}} 
      {{lengthOf search.response.results}} {{#if isPlural search.response.results}}
      {{ translate 'SEARCH_RESULTS'}} 
      {{else}} 
      {{translate 'SEARCH_RESULT'}} 
      {{/if}} 
      {{ translate 'SEARCH_RESULTS_FOR'}}
      {{search.query}}
    </h2>
    <div class="ui top right floated" style="top: 70px;position: absolute;right: 10px;">
        <a href='https://www.asksteem.com/' target='_blank'>
          <img class="ui tiny top sticky right floated image" src="https://cdn.hoxly.com/asksteem/attribution.png">
        </a>
      </div>
    {{#each search.response.results}} 
    {{> mobilevideosearchresult}} 
    {{/each}}
  </div>
  {{else}}
  <div class="ui container">
    <h2> {{ translate 'SEARCH_RESULTS_THERE_IS'}} 
      {{lengthOf search.response.results}} {{#if isPlural search.response.results}}
      {{ translate 'SEARCH_RESULTS'}} 
      {{else}} 
      {{translate 'SEARCH_RESULT'}} 
      {{/if}} 
      {{ translate 'SEARCH_RESULTS_FOR'}}
      {{search.query}}
      <div class="ui top right floated" style="float: right;margin-left: 20px;right: 20px;">
        <a href='https://www.asksteem.com/' target='_blank'>
          <img class="ui tiny top sticky right floated image" src="https://cdn.hoxly.com/asksteem/attribution.png">
        </a>
      </div>
    </h2>
    {{#each search.response.results}} 
    {{> videosearchresult}} 
    {{/each}}
  </div>
  {{/if}}
</template>