<template name='settingsdropdown'>
  <div class="ui item top left pointing dropdown dropdownsettings">
    <i class="settings icon" style='font-size:1.5em; margin:0;'></i>
    <div class="menu">
      <div class="item">
        <i class="left dropdown icon"></i>
        <span class="text">Voting @ {{voteWeight}}%</span>
        <div class="left menu">
          <div class="item voteWeight">+10%</div>
          <div class="item voteWeight">+1%</div>
          <div class="item voteWeight">-1%</div>
          <div class="item voteWeight">-10%</div>
        </div>
      </div>
      <div class="item">
        <i class="left dropdown icon"></i>
        <span class="text">NSFW Videos</span>
        <div class="left menu">
          {{#if equals 'Show' nsfwSetting}}
            <div class="item nsfwSetting"><strong>Show</strong></div>
          {{else}}
            <div class="item nsfwSetting">Show</div>
          {{/if}}
          {{#if equals 'Hide Picture' nsfwSetting}}
            <div class="item nsfwSetting"><strong>Hide Picture</strong></div>
          {{else}}
            <div class="item nsfwSetting">Hide Picture</div>
          {{/if}}
          {{#if equals 'Fully Hidden' nsfwSetting}}
            <div class="item nsfwSetting"><strong>Fully Hidden</strong></div>
          {{else}}
            <div class="item nsfwSetting">Fully Hidden</div>
          {{/if}}
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="header">IPFS Settings</div>

      <div class="item">
        <i class="left dropdown icon"></i>
        <span class="text">Local IPFS</span>
        <div class="left menu">
          <div class="header">
            {{#if localIpfs}}
              <span style='color: green'>You are running IPFS</span>
            {{else}}
              <span style='color: red'>You are not running IPFS</span>
            {{/if}}
          </div>

          {{#if localIpfs}}
            {{#with localIpfs}}
              <div class="ui divider"></div>
              <div class="header">Pinned: {{humanFilesize RepoSize 1}}</div>
              <div class="header">Max: {{humanFilesize StorageMax 1}}</div>
            {{/with}}
            <div class="item repogc">Empty Garbage</div>
          {{/if}}
        </div>
      </div>
      <div class="item">
        <i class="left dropdown icon"></i>
        <span class="text">Gateway</span>
        <div class="left menu">
          {{#if equals 'automatic' ipfsGateway}}
            <div class="item ipfsGateway"><strong>Automatic</strong></div>
          {{else}}
            <div class="item ipfsGateway">Automatic</div>
          {{/if}}
          {{#each displayNodes}}
            {{#if equals this ipfsGateway}}
              <div class="item ipfsGateway"><strong>{{this}}</strong></div>
            {{else}}
              <div class="item ipfsGateway">{{this}}</div>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="item">
        <i class="left dropdown icon"></i>
        <span class="text">API</span>
        <div class="left menu">
          {{#each uploadNodes}}
            {{#if equals node.host ipfsUpload.host}}
              <div class="item ipfsUpload">
                <strong>{{node.protocol}}://{{node.host}}:{{node.port}}</strong>
              </div>
            {{else}}
              <div class="item ipfsUpload">
                {{node.protocol}}://{{node.host}}:{{node.port}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
