<template name="topbar">
  <div class="ui large borderless main menu fixed">
    <a href="/" class="header item" id='textlogo'>
      <i class="play icon"></i>Tube
    </a>
    <div class="item">
      <div class="ui search">
        <div class="ui icon input">
          <form class='searchForm'>
            <input id='dsearch' type="text" name='search' placeholder="Search Videos..." autocomplete="off">
          </form>
          <i class="search icon"></i>
        </div>
        <div class="results">
          {{#each searchSuggestions}}
            <a class="result"><div class="content"><div class="title">{{this}}</div></div></a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="right menu">
      {{#if isLoggedOn}}
        <a class="ui item" href='/upload' title='Upload a Video'>
          <i class="cloud upload icon" style='font-size:1.5em; margin:0;'></i>
        </a>
      {{else}}
        <a class="ui item" href='/login' title='Upload a Video'>
          <i class="cloud upload icon" style='font-size:1.5em; margin:0;'></i>
        </a>
      {{/if}}

      {{> settingsdropdown}}
      {{#if isLoggedOn}}
        {{> users}}
      {{else}}
        <a class="ui item">
          <a href="/login" class="ui youtube button">Login</a>
        </a>
      {{/if}}
    </div>
  </div>
</template>
