<template name='users'>
  <div class="ui inline right floated dropdown item dropdownusers">
    <div class="text">
      <img class="ui avatar image" src="https://steemitimages.com/120x120/{{mainUser.json_metadata.profile.profile_image}}">
      {{ mainUser.username }}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each user in userlist}}
        <div class="item">
          <i class="left dropdown icon"></i>
          <span class="text">{{ user.username }}</span>
          <div class="left menu">
            <div class='item logIn' data-username='{{user.username}}'><i class="sign in icon"></i> Use {{user.username}}</div>
            <a class='item' href='/c/{{user.username}}'><i class="video play icon"></i> Channel</a>
            <a class='item' href='https://steemit.com/@{{user.username}}' target='_blank'><img style='width:16px;heigth:16px' src='https://steemit.com/favicon.ico'>SteemIt Blog</a>
            <div class="item logOut" data-username='{{ user.username }}'><i class="sign out icon"></i> Log-Out</div>
          </div>
        </div>
      {{/each}}
      <a href='/login' class="item">
        Add another account
      </a>
    </div>
  </div>
</template>
