<template name='users'>
  <div class="ui inline right floated dropdown item dropdownusers">
    <div class="text">
      <img class="ui avatar image" src="{{mainUser.json_metadata.profile.profile_image}}">
      {{ mainUser.username }}
    </div>
    <i class="dropdown icon"></i>
    <div class="menu">
      {{#each user in userlist}}
        <div class="item">
          <img class="ui avatar image" src="{{user.json_metadata.profile.profile_image}}">
          {{ user.username }}
        </div>
      {{/each}}
      <a href='/login' class="item">
        Add another account
      </a>
    </div>
  </div>
</template>
