<template name="verticalvoteslider">
    {{#if equals voteType 'down'}}
    <button class="ui icon button votebutton down voteslider {{sliderclass}}">
        {{#if downvoted}}
        <i class="thumbs down icon red"></i>
        {{else}}
        <i class="thumbs down icon"></i>
        {{/if}}
        <span>{{uniques content.votes content.votesSteem content.votesHive 'down'}}</span>
    </button>
    <button class="ui icon button votebutton down votesliderloader dsp-non {{sliderclass}}">
        <div class="ui mini red active centered inline loader"></div>
    </button>
    {{else}}
    <button class="ui icon button votebutton up voteslider {{sliderclass}}">
        {{#if upvoted}}
        <i class="thumbs up icon red"></i>
        {{else}}
        <i class="thumbs up icon"></i>
        {{/if}}
        <span>{{uniques content.votes content.votesSteem content.votesHive 'up'}}</span>
    </button>
    <button class="ui icon button votebutton up votesliderloader dsp-non {{sliderclass}}">
        <div class="ui mini red active centered inline loader"></div>
    </button>
    {{/if}}
    <div class="ui {{voteType}}vote popup top center transition hidden vertical {{sliderclass}} {{#if isNightMode}}nightmode{{/if}}">
        <div class="item">
            {{#if dtubeVotable content}}
            <div class="ui equal width grid mrg-non">
                <div class="sixteen wide column pdg-non" style="width: 80px!important;">
                    <i class="icon yellow lightning"></i> <strong
                        id="votevt{{voteType}}{{sliderclass}}">{{displayPayout mainUser.vtDisplay 0}}</strong>VP
                </div>
            </div>
            {{/if}}
            <div class="pos-rel">
                <div class="vertical-slider-bubble" id="sliderBubble{{voteType}}{{sliderclass}}">
                    <span>{{displayPayout voteVt}}</span></div>
                <input type="range" min="0.1" max="100" step="0.1" class="vslider vertical" orient="vertical"
                    id="voterange{{voteType}}{{sliderclass}}">
                <div id="vsliderbackholder" class="vsliderbackholder {{color}}"></div>
                <div id="vsliderholder{{voteType}}{{sliderclass}}" class="vsliderholder"></div>
                <div id="bubblevsliderholder{{voteType}}{{sliderclass}}" class="bubblevsliderholder">
                    <img style="width: 20px;" src="./DTube_files/images/logos/{{contentNetwork content}}_round.png">
                </div>
            </div>
            <div class="simplevote pos-rel" style="display: grid;z-index: 99999;">
                {{#if dtubeVotable content}}
                    {{#if firstTag content.tags}}
                    <div class="ui tiny button addtag {{sliderclass}} dsp-blk">Add tag</div>
                    {{/if}}
                {{/if}}
                <div class="ui button verticalslider {{voteType}}vote {{sliderclass}} upper dsp-blk">
                    <i class="thumbs {{voteType}} icon"></i></div>
            </div>
            <div class="tagvote dsp-non {{voteType}} pos-rel" style="display: grid;z-index: 99999;">
                <div class="ui tiny button removetag">Remove</div>
                {{#with firstTag content.tags}}
                {{#unless equals t 'dtube'}}
                <input type="string" value="{{convertTag t}}" class="tagvalue {{sliderclass}}"
                    style="max-width: 80px; text-align: center;" />
                {{/unless}}
                {{/with}}
                <div class="ui button verticalslider {{voteType}}votetag {{sliderclass}} upper dsp-blk">
                    <i class="thumbs {{voteType}} icon"></i><span>+</span></div>
            </div>

        </div>
    </div>
</template>