<template name='videosnap'>
  {{#unless isNSFWFullyHidden this}}
    <div class='videosnap'>
      <a href='/v/{{info.author}}/{{info.permlink}}' title='{{info.title}}'>
        <div class='videosnapsnap'>
          {{#if equals source 'wakaArticles'}}
            <span title='Stop sharing {{info.title}}' class="remove">&times;</span>
          {{/if}}
          {{#if isNSFW this}}
            <img height="118" width="210" src="https://ipfs.io/ipfs/Qmbieark68299dAdykraTQCs8T5NbnKdGYWF1B4gS8uUq7"><br />
          {{else}}
            <img id="img" height="118" width="210" alt="" src="{{ipfsSrc info.snaphash}}"><br />
          {{/if}}
        </div>
      </a>
      <div class='videosnaptitle'>
        <a href='/v/{{info.author}}/{{info.permlink}}'>{{info.title}}</a>
      </div>
      <div class='videosnapauthor'>
        <a href='/c/{{info.author}}'>{{info.author}}</a>
      </div>
      <div class='videosnaprest'>
        {{displayPayout pending_payout_value total_payout_value curator_payout_value}} -
        {{timeAgo created}}
      </div>
    </div>
  {{/unless}}
</template>
