<template name='videosnap'>
  <a href='/v/{{info.author}}/{{info.permlink}}'>
    <div class='videosnap'>
      <div class='videosnapsnap'>
        {{#if equals source 'wakaArticles'}}
          <span title='Stop sharing {{info.title}}' class="remove">&times;</span>
        {{/if}}
        <img id="img" height="118" width="210" alt="" src="{{ipfsGateway}}/ipfs/{{info.snaphash}}"><br />
      </div>
      <div class='videosnaptitle'>
        {{info.title}}
      </div>
    </div>
  </a>
</template>
