<template name='videosnap'>
  <div class='videosnap'>
    <a href='/v/{{info.author}}/{{info.permlink}}' title='{{info.title}}'>
      <div class='videosnapsnap'>
        {{#if equals source 'wakaArticles'}}
          <span title='Stop sharing {{info.title}}' class="remove">&times;</span>
        {{/if}}
        <img id="img" height="118" width="210" alt="" src="{{ipfsGateway}}/ipfs/{{info.snaphash}}"><br />
      </div>
    </a>
    <div class='videosnaptitle'>
      <a href='/v/{{info.author}}/{{info.permlink}}'>{{info.title}}</a>
    </div>
    <div class='videosnapauthor'>
      <a href='/c/{{info.author}}'>{{info.author}}</a>
    </div>
    <div class='videosnaprest'>
      {{pending_payout_value}} -
      {{timeAgo created}}
    </div>

  </div>
</template>
