<template name="sidebar">
  <div style="height:100%;">
    <nav class="sectionslist">
      <a href='/' class="item pdg-non">
        <div id="homesidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="home icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'SIDEBAR_HOME'}}</span>
        </div>
      </a>
      <a href='/publish' class="item pdg-non">
        <div id="uploadsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="upload icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'SIDEBAR_UPLOAD'}}</span>
        </div>
      </a>
      {{#if activeUsername}}
        <a href='/c/{{activeUsername}}' class="item pdg-non">
          <div id="channelsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
            <i class="grid layout icon dtubesidebaricon"></i>
            <span class="dtubesidebartitle">{{ translate 'SIDEBAR_MY_CHANNEL'}}</span>
          </div>
        </a>
        <a href='/feed/{{activeUsername}}' class="item pdg-non">
          <div id="feedsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
            <i class="rss icon dtubesidebaricon"></i>
            <span class="dtubesidebartitle">{{ translate 'SIDEBAR_MY_FEED'}}</span>
          </div>
        </a>
      {{/if}}
      <!-- <a href='/golive' class="item pdg-non">
        <div id="golivesidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="podcast icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'SIDEBAR_GO_LIVE'}}</span>
        </div>
      </a> -->
      <!-- <a href='/live' class="item pdg-non">
        <div id="livesidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="tv icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'SIDEBAR_LIVESTREAMS'}}</span>
        </div>
      </a> -->
      <a href='/hotvideos' class="item pdg-non">
        <div id="hotsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="fire icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_HOT_VIDEOS'}}</span>
        </div>
      </a>
      <a href='/trendingvideos' class="item pdg-non">
        <div id="trendingsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="trophy icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_TRENDING_VIDEOS'}}</span>
        </div>
      </a>
      <a href='/newvideos' class="item pdg-non">
        <div id="newsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="hourglass start icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_NEW_VIDEOS'}}</span>
        </div>
      </a>
      <a href='/watchlater' class="item pdg-non">
        <div id="watchlatersidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="time icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_WATCH_LATER'}}</span>
        </div>
      </a>
      <a href='/history' class="item pdg-non">
        <div id="watchagainsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="history icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_WATCH_AGAIN'}}</span>
        </div>
      </a>
      <a href='/election' class="item pdg-non">
        <div id="electionsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="users icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_ELECTIONS'}}</span>
        </div>
      </a>
      <a href='/settings' class="item pdg-non">
        <div id="settingssidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="cogs icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'SIDEBAR_SETTINGS'}}</span>
        </div>
      </a>
      <a href='/wiki/faq/README' class="item pdg-non">
        <div id="helpsidebarmenu" class="menuitem dtubesidebarmenu dsp-inh pdg-non">
          <i class="question circle icon dtubesidebaricon"></i>
          <span class="dtubesidebartitle">{{ translate 'SIDEBAR_HELP'}}</span>
        </div>
      </a>
    </nav>
    <div class="ui divider"></div>

    <nav id="tagslist" class="tagslist">
        <div class="menuitem dsp-inh pdg-non">
          <h4 class="dtubesidebartitle trendingtitle">{{ translate 'SIDEBAR_TRENDING_TAGS'}}</h4>
        </div>
      {{#each topTags}}
        <a href='/t/{{tag}}' class="menuitem dtubesidebarmenu" title='{{displayPayout vt 0}}VP'>
          {{tag}}
        </a>
      {{/each}}
    </nav>

    <div class="ui divider"></div>
    {{#if scot}}
      <div class="ui basic segment">
        <p>
          <h4 class="ui center aligned icon header">
              <i class="circular bolt icon"></i>
              {{ translate 'SIDEBAR_SCOT_LICENCE' scot.token}}
          </h4>
          <div class="ui horizontal list">
            <a href='https://d.tube' class="item">
              <img class="ui avatar image" src="https://about.d.tube/img/kit/Logo_Black_D.svg">
              <div class="content">
                <div class="header">D.Tube</div>
              </div>
            </a>
            <a href='https://steem-engine.com' class="item">
              <img class="ui avatar image" src="https://i.imgur.com/JldZkxt.png">
              <div class="content">
                <div class="header">Steem Engine</div>
              </div>
            </a>
          </div>
          <br /><br /><br /><br />       
        </p>
      </div>
    {{else}}
      {{#if isOnMobile }}
      <a class="item pdg-non wid-ful" style="margin-bottom: 50px;">
        <div class="menuitem dtubesidebarmenu mobilesidebarlinks" style="font-weight: 600;font-size: 13px;line-height: 1.5em;display: grid;">
          <a href='https://peakd.com/@dtube' target="_blank" id="blog">
            <span class="sidebarlink">{{ translate 'SIDEBAR_BLOG'}}</span>
          </a>
          <a href='https://github.com/dtube' target="_blank" id="github">
            <span class="sidebarlink">{{ translate 'SIDEBAR_GITHUB'}}</span>
          </a>
          <a href='https://discord.gg/dtube' target="_blank" id="discord">
            <span class="sidebarlink">{{ translate 'SIDEBAR_DISCORD'}}</span>
          </a>
          <a href='https://token.d.tube' target="_blank" id="discord">
            <span class="sidebarlink">{{ translate 'SIDEBAR_TOKEN'}}</span>
          </a>
          <a href='https://token.d.tube/whitepaper.pdf' target="_blank" id="discord">
            <span class="sidebarlink">{{ translate 'SIDEBAR_WHITEPAPER'}}</span>
          </a>
        </div>
        <div class="mobilesidebarspacer"></div>
      </a>
      {{else}}
      <div class="sidebarlink" style="color: red; padding: 10px 10px 70px 10px;font-weight: 600;font-size: 14px;line-height: 1.5em;">
        <a href='https://peakd.com/@dtube' target="_blank" id="blog">
          <span class="sidebarlink">{{ translate 'SIDEBAR_BLOG'}}</span>
        </a>-
        <a href='https://discord.gg/dtube' target="_blank" id="discord">
          <span class="sidebarlink">{{ translate 'SIDEBAR_DISCORD'}}</span>
        </a>-
        <a href='https://github.com/dtube' target="_blank" id="github">
          <span class="sidebarlink">{{ translate 'SIDEBAR_GITHUB'}}</span>
        </a>
        <br>
        <a href='https://token.d.tube' target="_blank" id="discord">
          <span class="sidebarlink">{{ translate 'SIDEBAR_TOKEN'}}</span>
        </a>-
        <a href='https://docs.google.com/forms/d/e/1FAIpQLSfKOTqbGYZPyJdml2YfVVb8fAQoTjhhJtnnU-gBVNzmPi_mnw/viewform' target="_blank" id="discord">
          <span class="sidebarlink">{{ translate 'SIDEBAR_PARTNERSHIP'}}</span>
        </a>
        <br>
        <a href='https://stats.d.tube' target="_blank" id="discord">
          <span class="sidebarlink">{{ translate 'SIDEBAR_STATS'}}</span>
        </a>-
        <a href='https://avalonblocks.com/#/' target="_blank" id="discord">
          <span class="sidebarlink">{{ translate 'SIDEBAR_EXPLORER'}}</span>
        </a>
      </div>
      {{/if}}
    {{/if}}
  </div>
</template>
