<template name="sidebar">
  <div style="height:100%;">
    <a href='/' class="item" id="home" style="padding:0%;">
      <div id="homesidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone">
        <i class="home icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'SIDEBAR_HOME'}}</span>
      </div>
    </a>
    <a href='/c/{{activeUser}}' class="item" style="padding:0%;">
      <div id="channelsidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone">
        <i class="grid layout icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'SIDEBAR_MY_CHANNEL'}}</span>
      </div>
    </a>
    <a href='/newupload' class="item" style="padding:0%;">
      <div id="uploadsidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone">
        <i class="cloud upload icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'SIDEBAR_UPLOAD'}}</span>
      </div>
    </a>
    <a href='/hotvideos' class="item" style="padding:0%;">
      <div id="hotsidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone">
        <i class="fire icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_HOT_VIDEOS'}}</span>
      </div>
    </a>
    <a href='/trendingvideos' class="item" style="padding:0%;">
      <div id="trendingsidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone">
        <i class="trophy icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_TRENDING_VIDEOS'}}</span>
      </div>
    </a>
    <a href='/newvideos' class="item" style="padding:0%;">
      <div id="newsidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone">
        <i class="hourglass start icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_NEW_VIDEOS'}}</span>
      </div>
    </a>
    <a href='/watchlater' class="item" style="padding:0%;">
      <div id="watchlatersidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone">
        <i class="time icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_WATCH_LATER'}}</span>
      </div>
    </a>
    <a href='/history' class="item" style="padding:0%;">
      <div id="watchagainsidebarmenu" class="menuitem dtubesidebarmenu dspinh pdgnone" style="padding:0%;">
        <i class="history icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'HOME_TITLE_WATCH_AGAIN'}}</span>
      </div>
    </a>
    <div class="ui divider"></div>
    <div class="ui subscribers accordion">
      {{#if subscribelength.length}}
      <a class="item title loadsubs" style="padding:0%;">
        <div class="menuitem " style="padding:0%;cursor: default;">
          <i class="dropdown icon dtubesidebaricon" style="padding-left:0px!important;"></i>
          <i class="users icon dtubesidebaricon" style="padding-left:0px!important;padding-right:0px!important;margin:0px;"></i> {{subscribelength.length}}
          <span class="dtubesidebartitle">{{ translate 'SIDEBAR_SUBSCRIBES'}}</span>
        </div>
      </a>
      <div class="content">
        <p class="transition hidden" style="display: block !important;">
          <div id="subscriberslist" class="subscriberslist">
            {{#each subscribe}} 
            {{#if following}} 
            {{> subscriber}} 
            {{/if}} 
            {{/each}}
          </div>
        </p>
      </div>
      {{else}}

      <div class="menuitem dtubesidebarmenu loadsubs" style="padding:0%;">
        <i class="smile icon dtubesidebaricon"></i>
        <span class="dtubesidebartitle">{{ translate 'SIDEBAR_NO_SUBSCRIBES'}}</span>
      </div>
    
      {{/if}}
    </div>

    <div class="ui divider"></div>
    <div id="tagslist" class="tagslist">
        <div class="menuitem dspinh pdgnone" style="padding:0%;">
            <h4 class="dtubesidebartitle" style="padding-left: 20px;">{{ translate 'SIDEBAR_TRENDING_TAGS'}}</h4>
          </div>
      {{#each tags}}
      {{#if equals term 'nsfw'}} 
      {{else}}
      <div class="menuitem dtubesidebarmenu" style="padding:4px 0% 0% 0%;display: inherit;" title='{{./count}}'>
        <a style="margin: 20px;color:#262626;font-weight:500;font-style: italic;" href='/t/{{term}}'>
          {{term}}
        </a>
      </div>
      {{/if}} 
      {{/each}}
    </div>
    {{#if isOnMobile }}
    <a class="item" style="width:100%;margin-bottom: 50px;">
      <div class="menuitem dtubesidebarmenu" style="font-weight: 600;font-size: 13px;line-height: 1.5em;display: grid;">
        <a href='https://about.d.tube' target="_blank" id="about">
          <span class="sidebarlink">{{ translate 'SIDEBAR_ABOUT'}}</span>
        </a>
        <a href='https://about.d.tube/#faq1' target="_blank" id="help">
          <span class="sidebarlink">{{ translate 'SIDEBAR_HELP'}}</span>
        </a>
        <a href='https://github.com/dtube' target="_blank" id="github">
          <span class="sidebarlink">{{ translate 'SIDEBAR_GITHUB'}}</span>
        </a>
        <a href='https://steemit.com/@dtube' target="_blank" id="steemit">
          <span class="sidebarlink">{{ translate 'SIDEBAR_STEEM'}}</span>
        </a>
        <a href='https://discord.gg/RqeQQjf' target="_blank" id="discord">
          <span class="sidebarlink">{{ translate 'SIDEBAR_DISCORD'}}</span>
        </a>
      </div>
    </a>
    {{else}}
    <div class="ui divider"></div>
    <div class="sidebarlink" style="color: red; background: white;padding: 0px 10px 70px 10px;font-weight: 600;font-size: 13px;line-height: 1.5em;">
      <a href='https://about.d.tube' target="_blank" id="about">
        <span class="sidebarlink">{{ translate 'SIDEBAR_ABOUT'}}</span>
      </a>-
      <a href='https://about.d.tube/#faq1' target="_blank" id="help">
        <span class="sidebarlink">{{ translate 'SIDEBAR_HELP'}}</span>
      </a>-
      <a href='https://github.com/dtube' target="_blank" id="github">
        <span class="sidebarlink">{{ translate 'SIDEBAR_GITHUB'}}</span>
      </a>
      <br>
      <a href='https://steemit.com/@dtube' target="_blank" id="steemit">
        <span class="sidebarlink">{{ translate 'SIDEBAR_STEEM'}}</span>
      </a>-
      <a href='https://discord.gg/RqeQQjf' target="_blank" id="discord">
        <span class="sidebarlink">{{ translate 'SIDEBAR_DISCORD'}}</span>
      </a>
    </div>
    {{/if}}
  </div>
</template>