<template name='genresnapslider'>
  {{#unless isVideoHidden this}}
  <div class='genresnapsnap'>
    <div class='genresnaptitle'>
      <a href='/t/{{json.genreName}}'>
        <h3 style="text-align:center;">{{json.genreName}}</h3>
      </a>
      <a href='/t/{{json.genreName}}' title='{{json.title}}'>
        <div id='snaphover' class='genresnapsnap'>
          <img id="genresnapimg" class="sprite owl-lazy" data-src="{{json.thumbnailUrl}}" width="100%" height="100%" alt="" >
        </div>
      </a>
    </div>
    {{ticker}}
  </div>
  {{/unless}}
</template>
