<template name='verticalvideosnap'>
  {{#unless isVideoHidden this}}
  <a href='/v/{{author}}/{{link}}' title='{{json.title}}'><div class='verticalvideosnap wid-ful dsp-flx {{#if isVideoBlurred this}}blur{{/if}}'>
    <div class="pos-rel" style="min-width: 160px;height:90px;float: left;">
      {{#if isOnWatchAgain}}
      <i id="remove" class="ui remove icon circular pos-abs" style="background-color: rgba(241, 241, 241, 0.85);">
        <span title='Stop sharing {{json.title}}' style="z-index:9000;"></span>
      </i>
      {{/if}}
      <div class='verticalvideosnapsnap' style="height:90px;">
        <div id="snapload" class="ui active dimmer snaploader pos-abs" style="z-index:-1;background-color: rgba(167, 167, 167, 0.85);float: left;height:90px;width: 160px;">
          <i class="icon photo nosnap" style="font-size:28px;margin-top:15%;"></i>
          <div class="ui text nosnap" style="margin-top:10px;">{{translate 'SNAP_MISSING_IMAGE'}}</div>
        </div>
        <span class="videoscore"><i class="bolt icon"></i>{{displayPayout ups downs}}</span>
        {{#if json.duration}}
          <span class="videosnapduration">{{durationDisplay json.duration}}</span>
        {{else}}{{#if json.dur}}
          <span class="videosnapduration">{{durationDisplay json.dur}}</span>
        {{/if}}{{/if}}
        <img id="snapimg" height="90" width="160" alt="" src="{{json.thumbnailUrl}}" onerror="Template.videosnap.fallback(this)">
        <br />
      </div>
    </div>
    <div class="pos-rel" style="text-align:left;margin-left:8px;">
      <div class="boxdisplayer">
        <div class='verticalvideosnaptitle'>
          <a href='/v/{{author}}/{{link}}'>
            <span class="customtitlelink">{{json.title}}</span>
          </a>
        </div>
      </div>
      <div class='videosnapauthor'>
        <a href='/c/{{author}}'>
          <span class="customlink">{{author}}</span>
        </a>
      </div>
      <div class='videosnapdetails'>
          <div class='videosnaprest'>
            {{displayRewards dist distSteem distScot distHive distBlurt}}
          </div>
         <div class='videosnaptime'>
          {{timeAgo ts}}
        </div>
      </div>
    </div>
  </div></a>
  {{/unless}}
</template>