<template name='videosnap'>
  {{#unless isVideoHidden this}}
  <div class='videosnap' style="max-width:210px;width:100%;">
    <a href='/v/{{info.author}}/{{info.permlink}}' title='{{info.title}}'>
      <div id='snaphover' class='videosnapsnap' style="height:118px;width:100%">
        <div style="z-index:1;position:absolute;width:100%;height:118px;">
        {{#if info.duration}} 
          <span class="videosnapduration">{{durationDisplay info.duration}}</span>
        {{/if}}
        <!-- {{#if equals source WatchLater}}
        <i id="remove" class="remove icon videosnapsnap"> 
          <span title='Stop sharing {{info.title}}' style="z-index:9000;"></span> 
        </i> 
      {{/if}}  -->
        {{#if equals source 'wakaArticles'}}
        {{#if isOnWatchAgain}}
        <div id="remove" class="remove" title='Stop sharing {{info.title}}' style="cursor: pointer;position: absolute;right:0px;z-index: 9999;background: #333333e0;margin: 3px;border-radius: 3px;font-size: 11px;padding: 0px;line-height: 14px;">
          <i class="remove icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
              <span style="z-index:9000;"></span>
            </i>
          </div>
          {{/if}} 
          {{else}}
          {{#if isInWatchLater}} 
          <div id="watchlater" class="watchlater right floated" title='Remove from Watch later' style="display:none;cursor: pointer;position: absolute;right:0px;z-index: 9999;background: #333333e0;margin: 3px;border-radius: 3px;font-size: 11px;padding: 0px;line-height: 14px;">
              <i class="checkmark icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
                  <span style="z-index:9000;"></span>
                </i>
              </div>
          {{else}}
          <div id="watchlater" class="addwatchlater right floated" title='Watch later' style="display:none;cursor: pointer;position: absolute;right:0px;z-index: 9999;background: #333333e0;margin: 3px;border-radius: 3px;font-size: 11px;padding: 0px;line-height: 14px;">
              <i class="time icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
                  <span style="z-index:9000;"></span>
                </i>
              </div>
              {{/if}} 
        {{/if}} 
        <div id="snapload" class="ui snaploader" style="z-index:-1;background-color: #262626;width:100%;height:118px;position: absolute;display: block;text-align: center;">
            <i class="icon photo nosnap" style="font-size:28px;margin-top:40px;"></i>
            <div class="ui text nosnap" style="margin-top:10px;">{{translate 'SNAP_MISSING_IMAGE'}}</div>
          </div> 
          <img id="snapimg" class="sprite" data-src="{{ipfsSrc info.snaphash}}" width="100%" height="100%" style="height:118px;width:210px;" alt="" >            
      </div>
        <br />
      </div>
    </a>
    <div class="boxdisplayer">
      <div class='videosnaptitle'>
        <a href='/v/{{info.author}}/{{info.permlink}}'>
          <span class="customtitlelink">{{info.title}}</span>
        </a>
      </div>
    </div>
    <div class='videosnapauthor'>
      <a href='/c/{{info.author}}'>
        <span class="customlink">{{info.author}}</span>
      </a>
      {{#if isResteemed reblogged_by}}
      <i class="retweet icon reblogged" title={{reblogged_by}}></i>
      {{/if}}
    </div>
    <div class='videosnapdetails'>
        {{#if displayPayout pending_payout_value total_payout_value curator_payout_value}}
      <div class='videosnaprest'>
          ${{displayPayout pending_payout_value total_payout_value curator_payout_value}}
      </div>
      {{/if}}
      {{#if created}}
      <div class='videosnaptime'>
        {{timeAgo created}}
      </div>
      {{/if}}
    </div>
    {{ticker}}
    <!-- <div id='videosnaptags' class='videosnaptags' style="margin-bottom: 10px;">
        {{#each content.tags}}
        <a href="/t/{{this}}" class="ui tiny label">{{this}}</a>
        {{/each}}
      </div> -->
  </div>
  {{/unless}}
</template>