<template name='videosnap'>
  {{#unless isVideoHidden this}}
  <div class='videosnap' style="max-width:210px;width:100%;">
      {{#if isInWatchLater}}
      <div id="watchlater" class="watchlater right floated" title='Watch later' style="display:none;cursor: pointer;position: absolute;z-index: 9999;background: #333333e0;margin: 3px;border-radius: 3px;font-size: 11px;padding: 0px;line-height: 14px;">
          <i class="checkmark icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
              <span style="z-index:9000;"></span>
            </i>
          </div>
      {{else}}
      <div id="watchlater" class="addwatchlater right floated" title='Watch later' style="display:none;cursor: pointer;position: absolute;z-index: 9999;background: #333333e0;margin: 3px;border-radius: 3px;font-size: 11px;padding: 0px;line-height: 14px;">
          <i class="time icon" style="padding: 0px;color:white;margin: 8px;font-size: 1.2em;">
              <span style="z-index:9000;"></span>
            </i>
          </div>
          {{/if}} 
    <a href='/v/{{info.author}}/{{info.permlink}}' title='{{info.title}}'>
      <div id='snaphover' class='videosnapsnap' style="height:118px;width:100%">
        <div id="snapload" class="ui active dimmer" style="z-index:0;background-color: rgba(167, 167, 167, 0.85);width:100%;height:118px;">
          <i class="icon photo nosnap" style="font-size:28px;margin-top:40px;"></i>
          <div class="ui text nosnap" style="margin-top:10px;">{{translate 'SNAP_MISSING_IMAGE'}}</div>
        </div> 
        <div style="z-index:1;position:absolute;width:100%;height:118px;">
        {{#if info.duration}} 
          <span class="videosnapduration">{{durationDisplay info.duration}}</span>
        {{/if}}
        <!-- {{#if equals source WatchLater}}
        <i id="remove" class="remove icon videosnapsnap"> 
          <span title='Stop sharing {{info.title}}' style="z-index:9000;"></span> 
        </i> 
      {{/if}}  -->
        {{#if equals source 'wakaArticles'}}
          <i id="remove" class="remove icon videosnapsnap">
            <span title='Stop sharing {{info.title}}' style="z-index:9000;"></span>
          </i>
        {{/if}} 
        <img id="snapimg" class="sprite" width="100%" height="100%" style="max-height:118px;" alt="" src="{{ipfsSrc info.snaphash}}">
      </div>
        <br />
      </div>
    </a>
    <div class="boxdisplayer">
      <div class='videosnaptitle'>
        <a href='/v/{{info.author}}/{{info.permlink}}'>
          <span class="customlink">{{info.title}}</span>
        </a>
      </div>
    </div>
    <div class='videosnapauthor'>
      <a href='/c/{{info.author}}'>
        <span class="customlink">{{info.author}}</span>
      </a>
      {{#if isResteemed reblogged_by}}
      <i class="retweet icon reblogged" title={{reblogged_by}}></i>
      {{/if}}
    </div>
    <div class='videosnapdetails'>
      <div class='videosnaprest'>
        {{displayPayout pending_payout_value total_payout_value curator_payout_value}}
      </div>
      <div class='videosnaptime'>
        {{timeAgo created}}
      </div>
    </div>
  </div>
  {{/unless}}
</template>