<template name='votes'>
    {{#with video}}
    <div class="ui container grid computer tablet only">
        <div class="ui twelve wide column">
            <center><h1>Votes & Rewards</h1><br /></center>
            <div class="ui grid">
                <div class="ui three column centered row">
                    {{#each allNetworks}}
                        {{#if equals this 'dtc'}}
                        <div class="four wide column" style="text-align: center">
                            <img width="32" src="{{#if isNightMode}}./DTube_files/images/logos/dtube_white.png{{else}}./DTube_files/images/logos/dtube.png{{/if}}">
                            <br />{{lengthOf video.votes}} vote{{#unless equals (lengthOf video.votes) 1}}s{{/unless}}
                            <br /><strong>{{displayMoney video.dist 0 'DTC'}}</strong>
                        </div>
                        {{/if}}
                        {{#if equals this 'steem'}}
                        <div class="four wide column" style="text-align: center">
                            <img width="32" src="./DTube_files/images/logos/steem.png">
                            <br />{{lengthOf video.votesSteem}} vote{{#unless equals (lengthOf video.votesSteem) 1}}s{{/unless}}
                            <br /><strong>{{video.distSteem}} SBD</strong>
                        </div>
                        {{/if}}
                        {{#if equals this 'hive'}}
                        <div class="four wide column" style="text-align: center">
                            <img width="32" src="./DTube_files/images/logos/hive.png">
                            <br />{{lengthOf video.votesHive}} vote{{#unless equals (lengthOf video.votesHive) 1}}s{{/unless}}
                            <br /><strong>{{video.distHive}} HBD</strong>
                        </div>
                        {{/if}}
                        {{#if equals this 'blurt'}}
                        <div class="four wide column" style="text-align: center">
                            <img width="32" src="./DTube_files/images/logos/blurt.png">
                            <br />{{lengthOf video.votesBlurt}} vote{{#unless equals (lengthOf video.votesBlurt) 1}}s{{/unless}}
                            <br /><strong>{{video.distBlurt}} BLURT</strong>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="ui four wide right floated column">
            {{>videosnap video}}
        </div>

        <div class="ui bottom active attached votenetwork tab first pdg-non">
            <table class="ui celled table unstackable"
                style="table-layout: fixed; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;">
                <thead>
                    <tr>
                        <th>User</th>
                        {{#unless isOnMobile}}
                        <th>Vote Time</th>
                        {{/unless}}
                        <th>Spent</th>
                        <th>Reward</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topVoters votes votesSteem votesHive votesBlurt 0}}
                    {{#if equals network 'dtc'}}
                    <tr>
                        <td style="overflow: hidden;">
                            <img class="ui avatar image" src="{{userPic u}}">&nbsp;<a href='/c/{{u}}'>{{u}}</a>
                        </td>
                        {{#unless isOnMobile}}
                        <td title="{{timeDisplay ts}}">{{timeAgo ts}}</td>
                        {{/unless}}
                        <td>
                            {{displayPayout vt 0}} VP
                            {{#if burn}}
                            <br />{{displayMoney burn 0 'DTC'}}
                            {{/if}}
                        </td>
                        <td class="{{#if isClaimed this}}positive{{/if}}{{#unless isClaimable this}}warning{{/unless}}">
                            {{#if equals claimable 0}}
                            {{translate "CHANNEL_REWARDS_NO_REWARD_YET"}}
                            {{else}}
                            {{#if isClaimable this}}
                            {{#if isClaimed this}}
                            <i class="icon checkmark"></i> {{translate "CHANNEL_REWARDS_CLAIMED"}}
                            {{displayMoney claimable 0 'DTC'}}
                            <br />{{timeAgo claimed}}
                            {{else}}
                            <strong><i class="icon plus"></i> {{displayMoney claimable 0 'DTC'}}</strong>
                            <br />{{translate "CHANNEL_REWARDS_CLAIMABLE"}} {{timeAgo timeToClaim}}
                            {{/if}}
                            {{else}}
                            <strong><i class="icon clock"></i> {{displayMoney claimable 0 'DTC'}}</strong>
                            <br />{{translate "CHANNEL_REWARDS_CLAIMABLE"}} {{timeAgo timeToClaim}}
                            {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui main grid mobile only">
        <div style="padding-left: 2rem;padding-right: 2rem;">
            <h1>Votes & Rewards</h1>
            {{>verticalvideosnap video}}
            <div class='ui divider'></div>
            <div class="ui two column centered grid">
                {{#each allNetworks}}
                    {{#if equals this 'dtc'}}
                    <div class="four wide column" style="text-align: center">
                        <img width="32" src="{{#if isNightMode}}./DTube_files/images/logos/dtube_white.png{{else}}./DTube_files/images/logos/dtube.png{{/if}}">
                        <br />{{lengthOf video.votes}} votes
                        <br /><strong>{{displayMoney video.dist 0 'DTC'}}</strong>
                    </div>
                    {{/if}}
                    {{#if equals this 'steem'}}
                    <div class="four wide column" style="text-align: center">
                        <img width="32" src="./DTube_files/images/logos/steem.png">
                        <br />{{lengthOf video.votesSteem}} votes
                        <br /><strong>{{video.distSteem}} SBD</strong>
                    </div>
                    {{/if}}
                    {{#if equals this 'hive'}}
                    <div class="four wide column" style="text-align: center">
                        <img width="32" src="./DTube_files/images/logos/hive.png">
                        <br />{{lengthOf video.votesHive}} votes
                        <br /><strong>{{video.distHive}} HBD</strong>
                    </div>
                    {{/if}}
                    {{#if equals this 'blurt'}}
                    <div class="four wide column" style="text-align: center">
                        <img width="32" src="./DTube_files/images/logos/blurt.png">
                        <br />{{lengthOf video.votesBlurt}} votes
                        <br /><strong>{{video.distBlurt}} BLURT</strong>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
            <div class='ui divider'></div>
            <div class="ui bottom active attached votenetwork tab first">
                <table class="ui celled table unstackable"
                    style="table-layout: fixed; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;">
                    <thead>
                        <tr>
                            <th>User</th>
                            {{#if isOnMobile}}
                            {{else}}
                            <th>Vote Time</th>
                            {{/if}}
                            <th>Spent</th>
                            <th>Reward</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each topVoters votes votesSteem votesHive votesBlurt 0}}
                        {{#if equals network 'dtc'}}
                        <tr>
                            <td style="overflow: hidden;">
                                <img class="ui avatar image" src="{{userPic u}}">&nbsp;<a href='/c/{{u}}'>{{u}}</a>
                            </td>
                            {{#if isOnMobile}}
                            {{else}}
                            <td title="{{timeDisplay ts}}">{{timeAgo ts}}</td>
                            {{/if}}
                            <td>
                                {{displayPayout vt 0}} VP
                                {{#if burn}}
                                <br />{{displayMoney burn 0 'DTC'}}
                                {{/if}}
                            </td>
                            <td
                                class="{{#if isClaimed this}}positive{{/if}}{{#unless isClaimable this}}warning{{/unless}}">
                                {{#if equals claimable 0}}
                                {{translate "CHANNEL_REWARDS_NO_REWARD_YET"}}
                                {{else}}
                                {{#if isClaimable this}}
                                {{#if isClaimed this}}
                                <i class="icon checkmark"></i> {{translate "CHANNEL_REWARDS_CLAIMED"}}
                                {{displayMoney claimable 0 'DTC'}}
                                <br />{{timeAgo claimed}}
                                {{else}}
                                <strong><i class="icon plus"></i> {{displayMoney claimable 0 'DTC'}}</strong>
                                <br />{{translate "CHANNEL_REWARDS_CLAIMABLE"}} {{timeAgo timeToClaim}}
                                {{/if}}
                                {{else}}
                                <strong><i class="icon clock"></i> {{displayMoney claimable 0 'DTC'}}</strong>
                                <br />{{translate "CHANNEL_REWARDS_CLAIMABLE"}} {{timeAgo timeToClaim}}
                                {{/if}}
                                {{/if}}
                            </td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="ui bottom attached votenetwork tab second segment">
                {{#if distSteem}}
                <div class="ui middle aligned divided list">
                    <div class="ui item">
                        <div class="content">
                            <div class="header">
                                STEEM ${{distSteem}}
                            </div>
                        </div>
                    </div>
                    {{#each topVoters votes votesSteem votesHive votesBlurt 0}}
                    {{#if equals network 'steem'}}
                    {{#if downvote}}
                    <div class="ui item">
                        <a href='/c/{{voter}}'>
                            <div class="content">
                                <div class="header">
                                    {{voter}}
                                    <span style="color:#ff0000"> ({{votePercentage(percent)}}%)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{else}}
                    <div class="ui item">
                        <a href='/c/{{voter}}'>
                            <div class="content">
                                <div class="header">
                                    {{voter}}
                                    <span style="color:#b5b5b5"> ({{votePercentage(percent)}}%)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
                {{#if distHive}}
                <div class="ui middle aligned divided list">
                    <div class="ui item">
                        <div class="content">
                            <div class="header">
                                HIVE ${{distHive}}
                            </div>
                        </div>
                    </div>
                    {{#each topVoters votes votesSteem votesHive votesBlurt 0}}
                    {{#if equals network 'hive'}}
                    {{#if downvote}}
                    <div class="ui item">
                        <a href='/c/{{voter}}'>
                            <div class="content">
                                <div class="header">
                                    {{voter}}
                                    <span style="color:#ff0000"> ({{votePercentage(percent)}}%)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{else}}
                    <div class="ui item">
                        <a href='/c/{{voter}}'>
                            <div class="content">
                                <div class="header">
                                    {{voter}}
                                    <span style="color:#b5b5b5"> ({{votePercentage(percent)}}%)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    {{/with}}
</template>