<template name='torrentStats'>
  <div class="ui grid " style="max-width:600px;margin:auto;">
    <div class="ui segments" style="display:flow-root;padding: 0px;margin: 0px;width:100%;border-radius:0px;">
        <div class="ui row" style="width:100%;">
            <div class="ui segment" style="width:100%;border-radius:0px;">
                <center>
            <h2>{{ translate 'TORRENT_CONGRATZ'}}</h2>
            <i class="big smile icon"></i>
                </center>
          </div>
        </div>
      <div class="ui segment" style="width:100%;">
          <center>
          <div class="label">
            {{ translate 'TORRENT_USE_THIS_LINK_TO_SHARE'}}
          </div>
        </center>
        <center>
          <a id="videolink">https://d.tube/#!/v/{{uploadedVideo.author}}/{{uploadedVideo.permlink}}</a>
          <div class="ui divider"></div>
          <a id="videolink" href="https://d.tube/#!/v/{{uploadedVideo.author}}/{{uploadedVideo.permlink}}" target="_blank"> 
          <div class="ui blue large fluid dtube button">
            <i class="play icon"></i> {{ translate 'TORRENT_WATCH_VIDEO'}}
          </div>
        </a>
      </center>
      </div>
    </div>
    <div class="ui segments statistics noshadow " style="padding: 0px;margin: 0px;width:100%;">
      <div class="ui row" style="width:100%;">
        <div class="ui segment statistic noshadow" style="width:100%;">
          <h2>{{ translate 'TORRENT_STATS_TITLE'}}</h2>
          <div class="value">
            <span id='torrentPeers'>{{stats.numPeers}}</span>
          </div>
          <div class="label">
            {{ translate 'TORRENT_STATS_PEERS'}}
          </div>
        </div>
      </div>
      <div class="ui row" style="width:100%;">
        <div class="ui segment statistic noshadow" style="width:100%;">
          <div class="value">
            <span id='torrentUpload'>{{humanFilesize stats.uploadSpeed}}</span>
          </div>
          <div class="label">
            {{ translate 'TORRENT_STATS_UPLOAD'}}
          </div>
        </div>
      </div>
      <div class="ui row" style="width:100%;">
        <div class="ui segment" style="width:100%;border-radius:0px;">
          <i class="info circle icon"></i>
          {{ translate 'TORRENT_KEEP_THIS_OPEN'}}
        </div>
      </div>
    </div>
  </div>
</template>